* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-weight: 300;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    /* Extra bg colors */

    --bg-denger: rgb(231, 92, 92);
    --bg-success: rgb(87, 217, 64);

    /* Background Color */
    --bg1-primary: linear-gradient(135deg, #1d2671, #c33764);
    --bg1-secondary: radial-gradient(circle at top, #3a1c71, #1d2671);
    --bg1-active: linear-gradient(90deg, #c33764, #fd746c);

    /* text Color */
    --text1-primary: #ffffff;
    --text1-secondary: #f0e9ff;
    --text1-muted: #cbbde2;

    /* Background Color */
    --bg2-primary: linear-gradient(135deg, #134e5e, #71b280);
    --bg2-secondary: radial-gradient(circle at bottom right, #71b280, #134e5e);
    --bg2-active: linear-gradient(90deg, #56ab2f, #a8e063);

    /* Text Color */
    --text2-primary: #ffffff;
    --text2-secondary: #e6fff2;
    --text2-muted: #b7e4c7;

    /* Background Color */
    --bg3-primary: linear-gradient(135deg, #0f0c29, #302b63);
    --bg3-secondary: radial-gradient(circle at top left, #3a3a7c, #0f0c29);
    --bg3-active: linear-gradient(90deg, #8e2de2, #4a00e0);

    /* Text Color */
    --text3-primary: #ffffff;
    --text3-secondary: #dcdcff;
    --text3-muted: #a5a5d6;

    /* Padding Variables */
    --padding-sm: 0.3rem;
    --padding-md: 0.6rem;
    --padding-lg: 1rem;
    --padding-xl: 1.5rem;
    --padding-2xl: 2rem;

    /* Margin Variables */
    --margin-sm: 0.3rem;
    --margin-md: 0.6rem;
    --margin-lg: 1rem;
    --margin-xl: 1.5rem;
    --margin-2xl: 2rem;

    /* Border Radius Variables */
    --rounded-sm: 0.3rem;
    --rounded-md: 0.6rem;
    --rounded-lg: 1rem;
    --rounded-xl: 1.5rem;
    --rounded-2xl: 2rem;

    /* Gutter / Gap  */
    --gutter-sm: 0.3rem;
    --gutter-md: 0.6rem;
    --gutter-lg: 1rem;
    --gutter-xl: 1.5rem;
    --gutter-2xl: 2rem;

    /* Font Size  */
    --text-sm: 0.3rem;
    --text-md: 0.6rem;
    --text-lg: 1rem;
    --text-xl: 1.5rem;
    --text-2xl: 2rem;
    --text-3xl: 3rem;
}

main {
    background: var(--bg1-primary);
    padding: var(--padding-md);
    height: 100%;
    color: var(--text1-primary);
    section {
        height: 100%;
        display: grid;
        gap: var(--gutter-md);
        grid-template-areas:
            "top"
            "bottom";
        grid-template-rows: 2fr 1fr;

        .left {
            grid-area: top;
            background: var(--bg1-secondary);
            border-radius: var(--rounded-md);
            padding: var(--padding-md);
            display: grid;
            grid-template-rows: 1fr 9fr;

            .top {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .btn {
                    outline: none;
                    border: none;
                    background: var(--bg2-active);
                    border-radius: var(--rounded-sm);
                    padding: var(--padding-sm) var(--padding-md);
                    cursor: pointer;

                    &:active {
                        scale: 0.96;
                    }
                }

                #reset-btn {
                    background: var(--bg-denger);
                }

                #download-btn {
                    background: var(--bg-success);
                }
            }
            .bottom {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--bg3-secondary);
                border-radius: var(--rounded-md);

                .placeholder {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: var(--gutter-md);

                    i {
                        font-size: var(--text-3xl);
                    }

                    p {
                        font-size: var(--text-lg);
                    }
                }
                #image-canvas {
                    display: none;
                    max-width: 95%;
                    max-height: 90%;
                }
            }
        }

        .right {
            grid-area: bottom;
            background: var(--bg3-active);
            border-radius: var(--rounded-md);
            padding: var(--padding-md);
            display: flex;
            gap: var(--gutter-lg);
            flex-direction: column;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            h2 {
                font-size: var(--text-2xl);
                font-weight: 800;
                transform: skewX(120);
            }

            .filters {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: var(--gutter-lg);

                .filter {
                    p {
                        font-size: var(--text-md);
                    }

                    input {
                        width: 100%;
                        // margin-top: var(--margin-md);
                        appearance: none;

                        &::-webkit-slider-thumb {
                            appearance: none;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: red;
                            margin-top: -3.5px;
                        }

                        &::-webkit-slider-runnable-track {
                            height: 1px;
                            border-radius: var(--rounded-2xl);
                        }
                    }
                }
            }
        }
    }
}

/* Large Display */
@media screen and (min-width: 1025px) and (max-width: 2559px) {
    main {
        section {
            grid-template-rows: 1fr;
            grid-template-areas: "top bottom";
            grid-template-columns: 5fr 2fr;

            .right {
                .filter {
                    p {
                        font-size: var(--text-lg);
                    }

                    input {
                        &::-webkit-slider-thumb {
                            width: 20px;
                            height: 20px;
                            margin-top: -8.5px;
                        }

                        &::-webkit-slider-runnable-track {
                            height: 3px;
                        }
                    }
                }
            }
        }
    }
}

/* 4K Display */
@media screen and (min-width: 2560px) {
    main {
        section {
            max-width: 1700px;
            margin: 0 auto;
            grid-template-rows: 1fr;
            grid-template-areas: "top bottom";
            grid-template-columns: 5fr 2fr;

            .right {
                .filter {
                    p {
                        font-size: var(--text-lg);
                    }

                    input {
                        &::-webkit-slider-thumb {
                            width: 20px;
                            height: 20px;
                            margin-top: -8.5px;
                        }

                        &::-webkit-slider-runnable-track {
                            height: 3px;
                        }
                    }
                }
            }
        }
    }
}
