* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 300;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100dvh;
    background: hsl(180, 80%, 84%);
    display: flex;
    align-items: center;
    justify-content: center;

    .calculator{
        padding: 1.5rem;
        background: hsl(270, 94%, 14%);
        border-radius: .6rem;
        
        form{
            input{
                border: none;
                outline: none;
                width: 70px;
                height: 70px;
                border-radius: .6rem;
                background: transparent;
                font-size: 1.5rem;
                color: hsl(0, 0, 100);
                cursor: pointer;
                box-shadow: -.5rem -.5rem 1rem hsla(0, 0%, 100%, 0.272),.3rem .3rem 1rem hsla(0, 0, 0, .4) ;
                margin: 0.5rem;
            }

            input.equeal{
                width: 160px;
            }

            input.operator{
                color: hsl(183, 57%, 61%);
                font-weight: 900;

            }

            .display{
                display: flex;justify-content: center;margin: 1.2rem 0;

                input{
                    text-align: right;
                    flex: 1;
                    font-size: 3rem;
                    box-shadow: none;
                }
            }
        }
    }
}
