* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
    font-weight: 300;
}

html,
body {
    height: 100%;
    width: 100%;
}

@mixin Flex($Jc, $Ai , $Fd) {
    display: flex;
    align-items: $Ai;
    justify-content: $Jc;
    flex-direction: $Fd;
}


main {
    width: 100%;
    background: linear-gradient(#202020bd, #39392fb7, #26252385, #202020, #39392fa2, #262523b7, #202020a4, #39392fa2, #262523a6);
    backdrop-filter: blur(20px);

    nav {
        max-width: 1900px;
        margin: 0 auto;
        @include Flex(space-between, center, row);
        padding: .5rem 1.5rem;
        gap: 1rem;

        .n-logo {
            width: 1.1rem;
        }

        .b-logo {
            width: 10.1rem;
            display: none;
        }

        button {
            padding: .5rem 1rem;
            border-radius: 2rem;
            border: none;

        }
    }

    >.links {
        border-radius: 3rem;
        background: hsl(0, 0, 0);
        margin: 0 auto;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        max-width: 343px;
        @include Flex(center, center, row);
        padding: .8rem 1.5rem;
        gap: 2.5rem;

        p {
            color: hsl(0, 0, 100);
            font-weight: 600;
            font-size: .8rem;
        }

    }

    .video-section {
        max-width: 1900px;
        margin: 0 auto;
        padding: 1.5rem;
        @include Flex(center, center, column);



        .video {
            width: 100%;

            @include Flex(center, center, column);
            overflow: hidden;
            border-radius: 3rem;
            aspect-ratio: 16/9;

            iframe {
                width: 100%;
                height: 100%;
                border-radius: 3rem;
                pointer-events: none;
                object-fit: cover;
            }
        }

        .text {
            width: 300px;
            @include Flex(center, center, column);
            gap: 1rem;
            margin-top: 1rem;

            img {
                width: 11rem;

            }

            input {
                width: 258px;
                padding: .8rem 1rem;
                border-radius: 2rem;
                background: hsla(0, 0%, 12%, 0.548);
                backdrop-filter: blur(20px);
                border: 1px solid hsl(0, 0, 100);

                &::placeholder {
                    color: hsl(0, 0, 100);
                    padding: 1rem 3rem;
                }
            }

            button {
                padding: .9rem 5rem;
                border-radius: 2rem;
                border: none;
                background: hsl(0, 96%, 50%);
                color: hsl(0, 0, 100);
            }

            p {
                color: hsl(0, 0, 100);
            }
        }
    }

    .page-01 {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        color: hsl(0, 0, 100);
        margin-top: 2rem;
        margin-bottom: 2px;
        padding: 1rem;

        .container {
            width: 100%;
            border-radius: 1.5rem;
            background: #302D2C;
            backdrop-filter: blur(20px);
            @include Flex(center, start, column);
            gap: 1.7rem;
            padding: 1rem;

            padding-top: 1.5rem;
            padding-bottom: 1.5rem;

            >p:nth-child(1) {
                font-size: 1.5rem;
                font-weight: 700;

            }

            .right {
                width: 100%;
                @include Flex(start, start, column);
                gap: 1.5rem;

                >p:nth-child(2) {
                    font-size: .9rem;
                }
            }
        }
    }

    .page-02 {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        color: hsl(0, 0, 100);
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include Flex(center, start, column);
        padding: 1rem;

        h1 {
            padding: 1rem;
            font-weight: 900;
            text-shadow: 5px 5px 7px hsla(0, 0%, 99%, 0.555), -5px -5px 10px hsla(0, 0%, 100%, 0.555);
            color: hsl(0, 65%, 51%);
        }


        .container {
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;

            @include Flex(flex-start, center, row);
            gap: 2rem;

            &::-webkit-scrollbar {
                height: 8px;
            }

            &::-webkit-scrollbar-track {
                background: #2689c2;
                border-radius: 10px;

                &:hover {
                    background: #26a3c2;
                }
            }

            &::-webkit-scrollbar-thumb {
                background: #ff0505;
                border-radius: 10px;

                &:hover {
                    background: #e045c6;
                }
            }

            .card {
                background: #27272785;
                backdrop-filter: filter(blur(10px));
                border-radius: 1rem;
                padding: 1rem;
                width: 200px;
                margin-bottom: 2rem;
                @include Flex(center, center, column);
                flex-shrink: 0;
                gap: 1rem;

                img {
                    width: 100%;
                    border-radius: 1rem;
                }

                h2 {
                    font-size: .8rem;
                }

                p {
                    font-size: .7rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }


    .page-03 {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        color: hsl(0, 0, 100);
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include Flex(center, start, column);
        padding: 1rem;

        h1 {
            padding: 1rem;
            font-weight: 900;
            text-shadow: 5px 5px 7px hsla(23, 16%, 84%, 0.555), -5px -5px 10px hsla(117, 15%, 75%, 0.555);
            color: hsl(0, 65%, 51%);
        }

        .contain {
            width: 100%;
            @include Flex(start, start, column);
            gap: 2rem;

            .container {
                border-radius: 1rem;
                width: 100%;
                background: #55514f9f;
                backdrop-filter: blur(20px);
                padding: 2rem 1rem;
                @include Flex(start, start, column);
                gap: .5rem;

                h2 {
                    font-size: .9rem;
                }

                p {
                    font-size: .8rem;
                    opacity: 0.8;
                }
            }
        }

    }




    .page-04 {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        color: hsl(0, 0, 100);
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include Flex(center, start, column);
        padding: 1rem;

        h1 {
            padding: 1rem;
            font-weight: 900;
            text-shadow: 5px 5px 7px hsla(24, 26%, 96%, 0.555), -5px -5px 10px hsla(120, 14%, 86%, 0.555);
            color: hsl(0, 65%, 51%);
        }

        .container {
            padding: 2rem;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;

            @include Flex(flex-start, center, row);
            gap: 2rem;

            &::-webkit-scrollbar {
                height: 8px;
            }

            &::-webkit-scrollbar-track {
                background: #2689c2;
                border-radius: 10px;

                &:hover {
                    background: #26a3c2;
                }
            }

            &::-webkit-scrollbar-thumb {
                background: #ff0505;
                border-radius: 10px;

                &:hover {
                    background: #e045c6;
                }
            }

            img {
                width: 280px;
                border-radius: 1rem;
                margin-bottom: 3rem;
                transition: all 0.3s ease;

                &:hover {
                    cursor: pointer;
                    scale: 1.1;
                }
            }
        }

    }

    .page-05 {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        color: hsl(0, 0, 100);
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include Flex(center, start, column);
        padding: 1rem;

        h1 {
            padding: 1rem;
            font-weight: 900;
            text-shadow: 5px 5px 7px hsla(23, 16%, 84%, 0.555), -5px -5px 10px hsla(117, 15%, 75%, 0.555);
            color: hsl(0, 65%, 51%);
        }

        .container {
            padding: 2rem;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;

            @include Flex(flex-start, center, row);
            gap: 2rem;

            &::-webkit-scrollbar {
                height: 8px;
            }

            &::-webkit-scrollbar-track {
                background: #2689c2;
                border-radius: 10px;

                &:hover {
                    background: #26a3c2;
                }
            }

            &::-webkit-scrollbar-thumb {
                background: #ff0505;
                border-radius: 10px;

                &:hover {
                    background: #e045c6;
                }
            }

            img {
                width: 280px;
                height: 400px;
                object-fit: cover;
                border-radius: 1rem;
                margin-bottom: 3rem;
                transition: all 0.3s ease;

                &:hover {
                    cursor: pointer;
                    scale: 1.03;
                }
            }
        }

    }

    .page-06 {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        color: hsl(0, 0, 100);
        margin-top: 1rem;
        margin-bottom: 2rem;
        @include Flex(center, start, column);
        padding: 1rem;

        h1 {
            padding: 1rem;
            font-weight: 900;
            text-shadow: 5px 5px 7px hsla(23, 16%, 84%, 0.555), -5px -5px 10px hsla(117, 15%, 75%, 0.555);
            color: hsl(0, 65%, 51%);
        }

        .container {
            padding: 1rem;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;

            @include Flex(flex-start, center, column);
            gap: 2rem;

            .card {
                width: 100%;
                padding: 1rem;
                @include Flex(flex-start, start, column);
                border-radius: 1rem;
                gap: 1rem;

                p:nth-child(1) {
                    font-size: 1.2rem;
                    font-weight: 700;
                }


                p:nth-child(2) {
                    font-size: 1rem;
                    opacity: 0.8;
                }

                p:nth-child(3) {
                    font-size: 1rem;
                    opacity: 0.85;
                }

                p:nth-child(4) {
                    font-size: 1rem;
                    opacity: 0.85;
                }

                &:hover {
                    filter: brightness(1.1) saturate(1.5) contrast(1.1) hue-rotate(10deg);
                    cursor: pointer;
                }


            }

            .card:nth-child(1) {
                background: linear-gradient(135deg, #2c5282 0%, #1a365d 100%);
            }

            .card:nth-child(2) {
                background: linear-gradient(135deg, #2d3748 0%, #1a2332 100%);
            }

            .card:nth-child(3) {
                background: linear-gradient(135deg, #6b46c1 0%, #3c2463 100%);
            }

            .card:nth-child(4) {
                background: linear-gradient(135deg, #9333ea 0%, #581c87 100%);
            }

        }
    }
}

/* 🔝🔝🔝 Small screen 🔝🔝🔝 */

/* ⬇️⬇️⬇️Tablet screen⬇️⬇️⬇️ */
@media (min-width: 600px) and (max-width: 765px) {}

/* ⬇️⬇️⬇️Laptop screen⬇️⬇️⬇️ */
@media (min-width: 766px) and (max-width: 1023px) {}

/* ⬇️⬇️⬇️Desktop screen⬇️⬇️⬇️ */
@media (min-width: 1024px) and (max-width: 1440px) {

    main {


        .page-03 {
            .contain {
                flex-direction: row;

                .container{
                    min-height: 282px;
                }
            }
        }

        nav {
            .n-logo {
                display: none;
            }

            .b-logo {
                display: initial;
            }
        }

        .page-06 {
            .container {
                flex-direction: row;

                .card {
                    min-height: 220px;
                }
            }
        }


        .video-section {
            position: relative;

            .text {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
            }

        }

        .page-01 {
            .container {
                .right {
                    flex-direction: row;
                }
            }
        }
    }
}

/* ⬇️⬇️⬇️Large desktop / 2K⬇️⬇️⬇️ */
@media (min-width: 1441px) and (max-width: 2560px) {
    main {
        nav {
            .n-logo {
                display: none;
            }

            .b-logo {
                display: initial;
            }
        }

        .page-03 {
            .contain {
                flex-direction: row;

                .container{
                    min-height: 255px;
                }
            }
        }

        .page-06 {
            .container {
                flex-direction: row;

                .card {
                    min-height: 220px;
                }
            }
        }





        .video-section {
            position: relative;

            .text {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
            }

        }

        .page-01 {
            .container {
                .right {
                    flex-direction: row;
                }
            }
        }
    }
}

/* ⬇️⬇️⬇️Ultra 4K screen⬇️⬇️⬇️ */
@media (min-width: 2561px) {
    main {
        nav {
            .n-logo {
                display: none;
            }

            .b-logo {
                display: initial;
            }
        }

        .page-03 {
            .contain {
                flex-direction: row;

                .container{
                    min-height: 242px;
                }
            }
        }

        .page-06 {
            .container {
                flex-direction: row;

                .card {
                    min-height: 220px;
                }
            }
        }



        .video-section {
            position: relative;

            .text {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
            }

        }

        .page-01 {
            .container {
                .right {
                    flex-direction: row;
                }
            }
        }
    }
}