* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    // scroll-behavior: auto;
    overflow: hidden; 
}

main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;

    .home {
        nav {
            font-weight: 800;
            max-width: 1400px;
            margin: 0 auto;
            padding: 2rem 1.9rem;
            display: flex;
            justify-content: space-between;
            position: relative;

            a {
                text-decoration: none;
                color: #000;
                font-size: 0.8rem;
            }
            .nleft {
                display: flex;
                gap: 2rem;
            }
            #centera {
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 1rem;
                transform: translate(-50%, -50%);
            }
        }

        #hero {
            height: fit-content;
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
            padding: 2rem 1.9rem;
            display: flex;
            justify-content: space-between;
            margin-top: 15vw;

            #sustain {
                width: 10vw;

                p {
                    text-transform: capitalize;
                    font-size: 12px;
                    margin: 10px 0;
                    opacity: 0.6;
                    font-weight: 600;
                }

                #susimagewrapper {
                    width: 100%;
                    height: 15vw;
                    overflow: hidden;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: bottom;
                    }
                }
            }

            #ephemeral {
                width: 27vw;
                min-height: 38vw;
                position: relative;

                #headings {
                    position: absolute;
                    top: -20%;
                    left: -20%;

                    h1 {
                        line-height: 1;
                        font-size: 5.5vw;
                        font-weight: 400;
                        letter-spacing: -0.4vw;
                    }
                }

                #img-text {
                    > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    > p {
                        width: 40%;
                        line-height: 1.3;
                        letter-spacing: -0.07vw;
                        font-size: 1.2vw;
                    }
                }
            }

            #visit {
                display: flex;
                gap: 0.7rem;
                align-items: center;

                h3 {
                    font-weight: 400;
                }

                #circlev {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 3vw;
                    height: 3vw;
                    border-radius: 50%;
                    border: 2px solid #5e5e5e;
                    > i {
                        color: #5e5e5e;
                    }
                }
            }
        }
    }

     #motive {
            max-width: 1400px;
            margin: 0 auto;
            padding: 2rem 1.9rem;
            display: flex;
            // width: 100%;
            justify-content: space-between;

            p {
                text-align: right;
                letter-spacing: -0.14vw;
                word-spacing: 0.3rem;
                font-size: 1.7rem;
                line-height: 1.6;
                width: 75%;
                // padding: 3rem;
                position: relative;

                span {
                    display: inline-block;
                    background: red;
                    border-radius: 2rem;
                    margin: 0 0.5rem;
                    margin-bottom: -10px;
                }

                .span1 {
                    width: 60px;
                    height: 30px;
                    background-image: url(./Asset/Phoenix1.jpg);
                    background-size: cover;
                }

                .span2 {
                    width: 80px;
                    height: 30px;
                    background-image: url(./Asset/Phoenix2.jpg);
                    background-size: cover;
                    background-position: 0% 50%;
                }

                .span3 {
                    width: 60px;
                    height: 30px;
                    background-image: url(./Asset/Phoenix3.jpg);
                    background-size: cover;
                }

                .span4 {
                    width: 70px;
                    height: 30px;
                    background-image: url(./Asset/Phoenix4.jpg);
                    background-size: cover;
                }
            }
        }

        #pictures {
            margin-top: 8vw;
            padding: 3vw;
            padding-left: 14vw;
            padding-right: 12vw;
            display: flex;
            justify-content: space-between;

            #firstimg {
                width: 17vw;

                #picimg {
                    width: 100%;
                    height: 25vw;
                    margin-bottom: 1vw;

                    > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                > p {
                    font-size: 0.94rem;
                    opacity: 0.8;
                }
                h1 {
                    letter-spacing: -0.1vw;
                    font-weight: 100;
                    font-size: 2vw;
                }
            }

            #secimg {
                width: 25vw;
                display: flex;
                align-items: end;
                flex-direction: column;

                #picimg {
                    width: 100%;
                    height: 37vw;
                    margin-bottom: 1vw;

                    > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                > p {
                    width: 80%;
                    font-size: 1.1rem;
                    opacity: 0.8;
                    line-height: 1;
                    letter-spacing: 0.95;
                    text-align: right;
                }
                h1 {
                    letter-spacing: -0.1vw;
                    font-weight: 100;
                    font-size: 2vw;
                }
            }
        }

        #banner {
            max-width: 1400px;
            margin: 0 auto;
            margin-top: 8vw;
            display: flex;
            justify-content: center;
            align-items: center;

            #bimg {
                width: 65%;
                height: 70vh;

                > img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            #btext {
                width: 35%;
                padding: 0 3vw;

                h1 {
                    font-size: 2rem;
                    font-weight: 500;
                }
                p {
                    margin-top: 2rem;
                }
            }
        }

        footer {

            overflow: hidden;
            position: relative;
            max-width: 1400px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #fff;
            margin-top: 6rem;

            #ftext{
                margin-top: 10px;
                position: relative;
                z-index: 10;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #fff;
                padding: 0.8rem 1.4rem;
                border-radius: .4rem;

                h1{
                    font-size: .9rem;
                    font-weight: 500;
                }

                button{
                    padding: 0.3rem 1.4rem;
                    font-size: .6rem;
                    letter-spacing: .6;
                    font-weight: 400;
                    border-radius: 100px;
                    border: 1px solid #c2c1c1;
                    color: #868383;
                    background: #fff;
                }

            }

            video {
                opacity: 0;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                
            }
        }
}
