* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    /* Primary sky */
    --pri: #2a92d8;
    --pri1: #87c5ee;
    --pri2: #d3e4ed;

    /* Secondary pink */
    --sec: #c14087;
    --sec1: #c88aad;
    --sec2: #d5b5c7;

    /* Tertiary purple */
    --tri1: #5137b7;
    --tri2: #9182bd;
    --tri3: #ddd6fe;

    /* Text */
    --text: #08172c;
    --text-muted: #e5e7eb;

    /* Border */
    --border: rgba(72, 68, 68, 0.08);

    /* Status */
    --red: #f43f5e;
    --green: #18cade;
    --green1: #52ce65;
    --green2: #bce2c9;

    /* Base */
    --black: #000000;

    // pading Variables
    --padding-sm: 0.3rem;
    --padding-md: 0.7rem;
    --padding-lg: 1rem;
    --padding-xl: 1.5rem;
    --padding-2xl: 2rem;

    //Size Variable
    --size-sm: 0.4rem;
    --size-md: 0.8rem;
    --size-lg: 1rem;
    --size-xl: 1.5rem;
    --size-2xl: 2rem;
    --size-3xl: 2.5rem;

    //for-bg-class
    --tri-bg: #5137b727;
    --sec-bg: #cb27813a;
    --pri-bg: #2398e622;
}

body {
    background: radial-gradient(
        circle at top left,
        var(--pri1),
        var(--sec1),
        var(--tri2)
    );
}

main {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    nav {
        padding: var(--padding-md) var(--padding-xl);
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background: linear-gradient(var(--pri2) var(--sec2));
        background: linear-gradient(var(--pri2), var(--sec2));

        .left {
            p {
                color: var(--text);
                font-size: var(--size-xl);
                border-radius: var(--size-sm);
                transform: scaleX(1.5);
                margin-left: var(--padding-md);
            }
        }

        .right {
            button {
                background: linear-gradient(var(--pri1), var(--sec));
                padding: var(--padding-sm) var(--padding-md);
                font-weight: 700;
                border-radius: var(--size-sm);
                border: none;
                cursor: pointer;
                color: var(--text-muted);

                &:active {
                    scale: 0.98;
                }
            }
        }
    }

    section.board {
        flex-grow: 1;
        padding: var(--padding-md) var(--padding-xl);
        display: flex;
        justify-content: space-between;
        gap: var(--size-lg);

        .task-column.hover-over {
            border: 2px dashed var(--text-muted);
            scale: 1.025;
        }

        .task-column {
            padding: var(--padding-md);
            border-radius: var(--size-sm);
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: var(--size-md);
            background: radial-gradient(
                circle at top left,
                var(--tri1),
                var(--sec2),
                var(--pri1)
            );
            transition: scale 0.7s cubic-bezier(0.19, 1, 0.22, 1);

            .heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .task {
                background: radial-gradient(
                    circle at bottom right,
                    var(--tri2),
                    var(--tri1),
                    var(--tri3)
                );
                border-radius: var(--size-sm);
                padding: var(--padding-sm);
                display: flex;
                cursor: grab;
                flex-direction: column;

                button {
                    align-self: flex-end;
                    cursor: pointer;
                    padding: var(--padding-sm) var(--padding-md);
                    border-radius: var(--size-sm);
                    border: none;
                    outline: none;
                    background: radial-gradient(
                        circle at top right,
                        var(--tri1),
                        var(--red)
                    );
                    color: var(--text-muted);
                    font-size: var(--size-lg);
                    font-weight: 700;

                    &:active {
                        scale: 0.98;
                    }
                }
            }
        }
    }

    .modal.active{
        display: flex;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        justify-content: center;
        align-items: center;

        .bg {
            z-index: -10;
            position: absolute;
            height: 100%;
            width: 100%;
            background: radial-gradient(circle at bottom left,
                var(--pri-bg),
                var(--sec-bg),
                var(--tri-bg)
            );
            backdrop-filter: blur(5px);
        }

        .center {
            display: flex;
            flex-direction: column;
            gap: var(--size-md);
            padding: var(--padding-md) var(--padding-xl);
            border-radius: var(--size-md);
            background: linear-gradient(
                to top left,
                var(--pri),
                var(--sec),
                var(--tri1)
            );

            input {
                padding: var(--padding-sm) var(--padding-md);
                border-radius: var(--size-sm);
                outline: none;
                border: none;

                background: radial-gradient(
                    circle at top left,
                    var(--pri2),
                    var(--sec2),
                    var(--tri3)
                );

                color: var(--black);
                font-weight: 900;
                font-size: var(--size-xl);
            }

            textarea {
                padding: var(--padding-sm) var(--padding-md);
                border-radius: var(--size-sm);
                outline: none;
                border: none;

                background: radial-gradient(
                    circle at top left,
                    var(--pri2),
                    var(--sec2),
                    var(--tri3)
                );

                color: var(--text);
                font-weight: 600;
                font-size: var(--size-lg);

                &::-webkit-scrollbar{
                    display: none;
                }
            }
            button {
                width: fit-content;
                align-self: flex-end;
                padding: var(--padding-sm) var(--padding-md);
                border-radius: var(--size-sm);
                outline: none;
                border: none;
                font-size: var(--size-lg);
                font-weight: 500;
                color: var(--tri1);

                background: linear-gradient(
                    to top left,
                    var(--green1),
                    var(--green),
                    var(--green1)
                );

                &:active {
                    scale: 0.98;
                }
            }
        }
    }
}
