@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
  font-weight: 300;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}
main span {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(to right, #0E76FB, #7F3FF2);
}
main nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.7rem;
  gap: 1rem;
}
main nav img {
  width: 100px;
}
main nav .nav-links {
  display: none;
  width: 0%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  font-size: 1rem;
  gap: 2rem;
}
main nav .nav-links .links:hover {
  background: hsla(0, 0%, 10%, 0.089);
  border-radius: 3.5rem;
  padding: 0.5em 1rem;
  margin: -1rem;
}
main nav .nav-links i {
  font-weight: 700;
  font-size: 0.6rem;
  opacity: 0.7;
}
main nav .nav-links button {
  font-size: 0.6rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3.4rem;
  background: #0E76FB;
}
main .page-one-container {
  width: 100%;
  background: linear-gradient(45deg, #FCDDE8, transparent, transparent);
}
main .page-one-container .page-one {
  width: 100%;
  padding: 1rem;
  padding-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
main .page-one-container .page-one .first {
  width: 100%;
}
main .page-one-container .page-one .first img {
  width: 100%;
  aspect-ratio: 1/0.8;
}
main .page-one-container .page-one .first h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  padding: 0 2rem;
}
main .page-one-container .page-one h2 {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 300;
  padding: 0 0.8rem;
}

/* 🔝🔝🔝 Small screen 🔝🔝🔝 */
/* ⬇️⬇️⬇️Tablet screen⬇️⬇️⬇️ */
@media (min-width: 600px) and (max-width: 799px) {
  main nav {
    padding: 1.5rem;
  }
  main nav img {
    width: 126px;
  }
}
/* ⬇️⬇️⬇️tablet screen⬇️⬇️⬇️ */
@media (min-width: 800px) and (max-width: 1023px) {
  main nav {
    padding: 1.5rem;
  }
  main nav img {
    width: 126px;
  }
  main .page-one {
    padding-top: 5rem;
  }
  main .page-one img {
    width: 83%;
  }
}
/* ⬇️⬇️⬇️Desktop screen⬇️⬇️⬇️ */
@media (min-width: 1024px) and (max-width: 1440px) {
  main nav {
    padding: 1.5rem;
  }
  main nav img {
    width: 126px;
  }
  main nav i {
    display: none;
  }
  main nav .nav-links {
    display: flex;
    width: 80%;
    overflow: none;
  }
  main .page-one {
    max-width: 1290px;
    margin: 0 auto;
  }
  main .page-one .first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    grid-auto-flow: row;
    direction: rtl;
  }
  main .page-one .first h1 {
    padding-left: 3rem;
    font-size: 4.5rem;
    text-align: end;
  }
  main h2 {
    width: 925px;
  }
}
/* ⬇️⬇️⬇️Large desktop / 2K⬇️⬇️⬇️ */
@media (min-width: 1441px) and (max-width: 2560px) {
  main nav {
    padding: 1.5rem;
  }
  main nav img {
    width: 126px;
  }
  main nav i {
    display: none;
  }
  main nav .nav-links {
    display: flex;
    width: 80%;
    overflow: none;
  }
  main .page-one {
    max-width: 1290px;
    margin: 0 auto;
  }
  main .page-one .first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    grid-auto-flow: row;
    direction: rtl;
  }
  main .page-one .first h1 {
    padding-left: 3rem;
    font-size: 4.5rem;
    text-align: end;
  }
  main .page-one h2 {
    width: 925px;
  }
}
/* ⬇️⬇️⬇️Ultra 4K screen⬇️⬇️⬇️ */
@media (min-width: 2561px) {
  main nav {
    padding: 1.5rem;
  }
  main nav img {
    width: 126px;
  }
  main nav i {
    display: none;
  }
  main nav .nav-links {
    display: flex;
    width: 95%;
    overflow: none;
  }
  main .page-one {
    max-width: 1290px;
    margin: 0 auto;
  }
  main .page-one .first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    grid-auto-flow: row;
    direction: rtl;
  }
  main .page-one .first h1 {
    padding-left: 3rem;
    font-size: 4.5rem;
    text-align: end;
  }
  main .page-one h2 {
    width: 925px;
  }
}/*# sourceMappingURL=style.css.map */