* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
    font-weight: 300;
}

html,
body {
    height: 100%;
    width: 100%;
}

@mixin Flex($Jc, $Ai) {
    display: flex;
    align-items: $Ai;
    justify-content: $Jc;
}

main {
    height: 100%;
    width: 100%;

    span {
        padding: 1rem;
        @include Flex(center, center);
        font-size: .9rem;
        font-weight: 500;
        color: hsl(0, 0, 100);
        background: linear-gradient(to right, #0E76FB, #7F3FF2);
    }

    nav {

        width: 100%;
        @include Flex(space-between, center);
        padding: 1rem .7rem;
        gap: 1rem;

        img {
            width: 100px;
        }

        .nav-links {
            display: none;
            width: 0%;
            overflow: hidden;
            @include Flex(end, center);
            gap: 1rem;
            font-size: 1rem;
            gap: 2rem;

            .links {
                &:hover {
                    background: hsla(0, 0%, 10%, 0.089);
                    border-radius: 3.5rem;
                    padding: 0.5em 1rem;
                    margin: -1rem;
                }
            }

            i {
                font-weight: 700;
                font-size: .6rem;
                opacity: 0.7;
            }

            button {
                font-size: .6rem;
                border: none;
                padding: .5rem 1rem;
                border-radius: 3.4rem;
                background: #0E76FB;
            }
        }
    }

    .page-one-container {
        width: 100%;
        background: linear-gradient(45deg, #FCDDE8, transparent, transparent);

        .page-one {
            width: 100%;
            padding: 1rem;
            padding-bottom: 6rem;
            @include Flex(center, center);
            flex-direction: column;
            gap: 4rem;
            // background: linear-gradient(45deg, #FCDDE8, transparent, transparent);

            .first {
                width: 100%;

                img {
                    width: 100%;
                    aspect-ratio: 1/.8;
                }

                h1 {
                    text-align: center;

                    font-size: 3rem;
                    font-weight: 900;
                    padding: 0 2rem;
                }
            }

            h2 {
                width: 100%;
                text-align: center;

                font-size: 2.2rem;
                font-weight: 300;
                padding: 0 .8rem;
            }

        }
    }

    .page-two {
        width: 100%;
        padding: 1rem;
        padding-bottom: 6rem;
        @include Flex(center, center);
        flex-direction: column;
        gap: 4rem;

        .card {
            width: 100%;
            @include Flex(center, start);
            flex-direction: column;
            padding: 1rem;
            gap: 1rem;

            img {
                width: 100%;
                padding-top: 3rem;
            }

            h1 {
                font-size: 1.7rem;
                font-weight: 700;
            }

            p {
                opacity: 0.8;
                padding-right: 2.5rem;
                font-size: 1.2rem;
            }

            .line {
                padding-top: 4rem;

                width: 100%;
                border-bottom: .3rem solid hsla(0, 0%, 12%, 0.123);
            }
        }
    }

}


/* 🔝🔝🔝 Small screen 🔝🔝🔝 */

/* ⬇️⬇️⬇️Tablet screen⬇️⬇️⬇️ */
@media (min-width: 600px) and (max-width: 799px) {
    main {
        nav {
            padding: 1.5rem;

            img {
                width: 126px;
            }
        }


    }

}

/* ⬇️⬇️⬇️tablet screen⬇️⬇️⬇️ */
@media (min-width: 800px) and (max-width: 1023px) {
    main {
        nav {
            padding: 1.5rem;

            img {
                width: 126px;
            }
        }

        .page-one {
            padding-top: 5rem;

            img {

                width: 83%;
            }
        }
    }

}

/* ⬇️⬇️⬇️Desktop screen⬇️⬇️⬇️ */
@media (min-width: 1024px) and (max-width: 1440px) {
    main {
        nav {
            padding: 1.5rem;

            img {
                width: 126px;
            }

            i {
                display: none;
            }

            .nav-links {
                display: flex;
                width: 80%;
                overflow: none;
            }


        }

        .page-two {
            margin: 0 auto;
            max-width: 1290px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .page-one {
            max-width: 1290px;
            margin: 0 auto;

            .first {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 3rem;
                grid-auto-flow: row;
                direction: rtl;

                h1 {
                    padding-left: 3rem;
                    font-size: 4.5rem;
                    text-align: end;
                }
            }
        }

        h2 {
            width: 925px;
        }
    }

}

/* ⬇️⬇️⬇️Large desktop / 2K⬇️⬇️⬇️ */
@media (min-width: 1441px) and (max-width: 2560px) {
    main {
        nav {
            padding: 1.5rem;

            img {
                width: 126px;
            }

            i {
                display: none;
            }

            .nav-links {
                display: flex;
                width: 80%;
                overflow: none;
            }
        }

        .page-two {
            margin: 0 auto;
            max-width: 1290px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .page-one {
            max-width: 1290px;
            margin: 0 auto;

            .first {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 3rem;
                grid-auto-flow: row;
                direction: rtl;

                h1 {
                    padding-left: 3rem;
                    font-size: 4.5rem;
                    text-align: end;
                }
            }

            h2 {
                width: 925px;
            }
        }
    }

}

/* ⬇️⬇️⬇️Ultra 4K screen⬇️⬇️⬇️ */
@media (min-width: 2561px) {
    main {
        nav {
            padding: 1.5rem;

            img {
                width: 126px;
            }

            i {
                display: none;
            }

            .nav-links {
                display: flex;
                width: 95%;
                overflow: none;
            }
        }

        .page-two {
            margin: 0 auto;
            max-width: 1290px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .page-one {
            max-width: 1290px;
            margin: 0 auto;

            .first {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 3rem;
                grid-auto-flow: row;
                direction: rtl;

                h1 {
                    padding-left: 3rem;
                    font-size: 4.5rem;
                    text-align: end;
                }
            }

            h2 {
                width: 925px;
            }
        }
    }
}