:root {
    --pri: #1a374d;
    --sec: #406882;
    --tri1: #6998ab;
    --tri2: #b1d0e0;
}

// @font-face {
//     font-family: normal;
//     src: url(./Fonts/fonnts.com-Aeonik-Regular.ttf);
// }

// @font-face {
//     font-family: bold;
//     src: url(./Fonts/fonnts.com-Aeonik-Bold.ttf);
// }

// @font-face {
//     font-family: sf;
//     src: url(./Fonts/SFPRODISPLAYREGULAR.OTF);
// }

// @font-face {
//     font-family: rl;
//     src: url(./Fonts/raleway.regular.ttf);
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 300;
    color: var(--tri2);
}

html,
body {
    height: 100%;
    width: 100%;
}
main {
    width: 100%;
    height: 100%;
    background: var(--pri);

    nav {
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: var(--pri);
    }

    section.allElems {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 3rem;
        padding-top: 5.5rem;
        background: var(--sec);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 2rem;

        .elem {
            background: var(--tri1);
            font-size: 1.5rem;
            height: 400px;
            width: 255px;
            border-radius: 0.8rem;
            overflow: hidden;
            position: relative;
            transition: all ease 0.2s;
            box-shadow: 15px 10px 10px var(--pri),-3px -3px 12px var(--tri2);

            &:active {
                scale: 0.97;
            }

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }

            > h2 {
                color: var(--pri);
                position: absolute;
                bottom: 5%;
                left: 5%;
            }
        }
    }

    section.fullElem {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        display: none;
        background: var(--sec);

        .back{
            position: absolute;
            font-size: 1.3rem;
            padding: 0.4rem .7rem;
            border-radius: .4rem;
            border: none;
            background: hsl(0, 100, 50);
            right: 4%;
            font-weight: 500;
            color: hsl(0, 0, 100);
            top: 5%;
            cursor: pointer;

            &:active{
                scale: .97;
            }
        }
    }
}
