* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --pri: #ffb703;
    --sec: #ff4d8d;

    --tri1: #ffd166;
    --tri2: #ff85b3;
    --tri3: #fff1c1;

    --text: #000000;
    --text-light: #ffffff;

    --red: #e63946;
    --green: #2ec4b6;
}

@mixin flex($jc, $ai, $fd) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

main {
    width: 100dvw;
    height: 100dvh;
    background: var(--sec);

    .allElems {
        width: 100%;
        height: 100%;
        padding: 1rem;
        @include flex(start, center, column);
        gap: 1rem;

        .elem {
            border: 2px solid black;
            width: 100%;
            flex: 1;
            position: relative;
            border-radius: 0.5rem;
            overflow: hidden;
            box-shadow: 0.3rem 0.3rem 1rem var(--tri1),
                -0.3rem -0.3rem 0.3rem var(--tri3);

            > h2 {
                position: absolute;
                bottom: 3%;
                right: 3%;
                font-size: 2.5rem;
                text-transform: uppercase;
                color: var(--text-light);
                text-shadow: 0 0 0.6rem var(--text);
            }

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    main {
        .allElems {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "first second"
                "third fourth"
                "fifth fifth";

            .elem {
                height: 100%;
                &:nth-child(1) {
                    grid-area: first;
                }
                &:nth-child(2) {
                    grid-area: second;
                }
                &:nth-child(3) {
                    grid-area: third;
                }
                &:nth-child(4) {
                    grid-area: fourth;
                }
                &:nth-child(5) {
                    grid-area: fifth;
                }
            }
        }

    }
}

/* Laptop */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    main {
        height: 100%;
        position: relative;
        .allElems {
            position: absolute;
            bottom: 5%;
            left: 0;
            height: 70%;

            @include flex(center, center, row);

            .elem {
                height: 100%;
                width: 100%;

                > h2 {
                    font-size: clamp(1.2rem, 2vw, 2rem);
                }
            }
        }

    }
}

/* Large Display */
/* Large Display */
@media screen and (min-width: 1441px) and (max-width: 2559px) {
    main {
        height: 100%;
        position: relative;
        .allElems {
            max-width: 1500px;
            margin: 0 auto;
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
            height: 70%;
            @include flex(center, center, row);
            .elem {
                height: 100%;
                width: 100%;
                > h2 {
                    font-size: clamp(1.2rem, 2vw, 2rem);
                }
            }
        }

    }
} /* 4K Display */
@media screen and (min-width: 2560px) {
    main {
        height: 100%;
        position: relative;
        .allElems {
            max-width: 1500px;
            margin: 0 auto;
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
            height: 70%;
            @include flex(center, center, row);
            .elem {
                height: 100%;
                width: 100%;
                > h2 {
                    font-size: clamp(1.2rem, 2vw, 2rem);
                }
            }
        }

    }
}
