@charset "UTF-8";
main .contact .arrow .right, main .img-text .join .arrow .right, main .ourteam .text, main .ourteam, main nav .nav-sec .cart, main nav .nav-sec, main nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .contact .arrow, main .contact, main .img-text .join, main .third-section .text .bottom,
main .second-section .text .bottom, main .third-section .text,
main .second-section .text, main .third-section,
main .second-section, main .progress .text, main .first-section .text .bottom, main .first-section .text, main .first-section, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
  font-weight: 300;
}

html,
body {
  height: 100%;
  width: 100%;
}

main .contact .arrow .right, main .img-text .join .arrow .right, main .ourteam .text, main .ourteam, main nav .nav-sec .cart, main nav .nav-sec, main nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .contact .arrow, main .contact, main .img-text .join, main .third-section .text .bottom,
main .second-section .text .bottom, main .third-section .text,
main .second-section .text, main .third-section,
main .second-section, main .progress .text, main .first-section .text .bottom, main .first-section .text, main .first-section, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: hsl(0, 0%, 10%);
  justify-content: start;
}

main {
  background: hsl(0, 0%, 10%);
  width: 100%;
  max-width: 1900px;
  /* ===================================== */
  /* 📱 MOBILE FIRST (default styles above) */
  /* ===================================== */
  /* 💻 TABLET (768px–1023px) */
  /* 🖥️ DESKTOP (≥1024px) */
  /* 🖥️ 2K LARGE DESKTOP (1441px–2560px) */
  /* 🖥️ 4K ULTRA (2561px–3840px) */
}
main nav {
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0.7rem;
  gap: 1rem;
}
main nav .nav-sec {
  gap: 0.3rem;
}
main nav .nav-sec .cart {
  color: hsl(1, 100%, 100%);
  background: hsl(0, 0%, 13%);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}
main nav .nav-sec .cart i {
  color: hsl(0, 0%, 0%);
  background: hsl(60, 100%, 50%);
  border-radius: 50%;
}
main nav .nav-sec button {
  background: hsl(0, 0%, 13%);
  padding: 1.05rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  display: none;
  border: none;
  color: hsl(0, 1%, 100%);
}
main nav .nav-sec .get {
  background: hsl(56, 80%, 45%);
  padding: 0.9rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  border: none;
  color: hsl(0, 0%, 0%);
}
main nav .nav-sec .i {
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 21%);
  padding: 0.4rem;
  font-size: 2rem;
  cursor: pointer;
}
main .first-section {
  width: 100%;
  gap: 1rem;
}
main .first-section img {
  width: 100%;
  border-radius: 10px;
}
main .first-section .text {
  align-items: start;
  width: 100%;
  color: hsl(0, 0%, 100%);
  padding: 2rem;
  background: hsl(0, 0%, 13%);
  border-radius: 10px;
  gap: 4rem;
  padding-bottom: 4.5rem;
}
main .first-section .text h1 {
  font-size: 1rem;
  font-weight: 400;
}
main .first-section .text .bottom {
  align-items: start;
  gap: 2rem;
}
main .first-section .text .bottom h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
}
main .first-section .text .bottom p {
  line-height: 2rem;
  font-size: 1.2rem;
  opacity: 0.6;
}
main .first-section .text .bottom button {
  background: transparent;
  border-radius: 15px;
  border: none;
  color: hsl(0, 0%, 100%);
}
main .first-section .text .bottom button i {
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0.2em;
  color: hsl(0, 2%, 48%);
  border: 2px solid hsl(0, 2%, 48%);
}
main .progress {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
main .progress .text {
  gap: 0.7rem;
  padding: 1.5rem;
}
main .progress .text h1 {
  color: hsl(0, 0%, 50%);
  font-size: 0.9rem;
  font-weight: 700;
}
main .progress .text p {
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
}
main .third-section,
main .second-section {
  width: 100%;
  gap: 1rem;
  padding: 0.7rem;
}
main .third-section img,
main .second-section img {
  width: 100%;
  border-radius: 10px;
}
main .third-section .text,
main .second-section .text {
  align-items: start;
  width: 100%;
  color: hsl(0, 0%, 100%);
  padding: 2rem;
  background: hsl(0, 0%, 13%);
  border-radius: 10px;
  gap: 4rem;
  padding-bottom: 4.5rem;
}
main .third-section .text h1,
main .second-section .text h1 {
  font-size: 1rem;
  font-weight: 400;
}
main .third-section .text .bottom,
main .second-section .text .bottom {
  align-items: start;
  gap: 2rem;
}
main .third-section .text .bottom h2,
main .second-section .text .bottom h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
}
main .third-section .text .bottom .p-section,
main .second-section .text .bottom .p-section {
  line-height: 2rem;
  font-size: 1.2rem;
  opacity: 0.6;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  -moz-column-count: 1;
       column-count: 1;
}
main .ourteam {
  width: 100%;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
  padding: 0.5rem 0.7rem;
}
main .ourteam .text {
  display: none;
  gap: 1.3rem;
}
main .ourteam .text i {
  background: hsl(0, 0%, 21%);
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 80%);
  padding: 0.5rem;
}
main .three-img {
  width: 100%;
  @extrend %flex-col;
  gap: 1rem;
  padding: 0.7rem;
}
main .three-img .section {
  color: hsl(0, 0%, 100%);
  display: flex;
  padding: 2rem 0.5rem;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
  gap: 1rem;
}
main .three-img .section .top i {
  border-radius: 50%;
  padding: 0.5rem;
  background: hsla(0, 0%, 85%, 0.096);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1.5px solid hsla(0, 0%, 85%, 0.568);
}
main .three-img .section .bottom {
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
  background: hsla(0, 0%, 85%, 0.295);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1.5px solid hsl(0, 0%, 100%);
}
main .three-img .section:nth-child(1) {
  background-image: url(./Asset/Images/Forth\ Image.webp);
  aspect-ratio: 1/1;
  background-size: cover;
  width: 100%;
  border-radius: 0.7rem;
}
main .three-img .section:nth-child(2) {
  background-image: url(./Asset/Images/fifth\ img.webp);
  aspect-ratio: 1/1;
  background-size: cover;
  width: 100%;
  border-radius: 0.7rem;
}
main .three-img .section:nth-child(3) {
  background-image: url(./Asset/Images/sixth\ img.webp);
  aspect-ratio: 1/1;
  background-size: cover;
  width: 100%;
  border-radius: 0.7rem;
}
main .img-text .last-img {
  width: 100%;
  padding: 0.7rem;
}
main .img-text .last-img img {
  width: 100%;
  border-radius: 0.7rem;
}
main .img-text .join {
  width: 100%;
  align-items: start;
  gap: 1rem;
  padding: 0.7rem;
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 13%);
  border-radius: 0.7rem;
}
main .img-text .join p {
  font-size: 1rem;
  opacity: 0.5;
}
main .img-text .join .arrow .right {
  margin-top: 8rem;
  justify-content: start;
  gap: 1.5rem;
  padding: 1rem;
}
main .img-text .join .arrow .right i {
  border-radius: 50%;
  padding: 0.5rem;
  background: hsla(0, 0%, 85%, 0.096);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1.5px solid hsla(0, 0%, 85%, 0.568);
}
main .img-text .join .arrow .left {
  font-size: 2rem;
  width: 80%;
  line-height: 3rem;
  text-transform: uppercase;
}
main .contact {
  width: 100%;
  padding: 1.5rem;
  align-items: start;
  gap: 1.5rem;
  background: hsla(56, 91%, 48%, 0.822);
  border-radius: 0.7rem;
}
main .contact p {
  font-size: 1rem;
  opacity: 0.9;
}
main .contact .arrow {
  gap: 1rem;
}
main .contact .arrow .left {
  font-size: 2.5rem;
  width: 100%;
  font-weight: 200;
  line-height: 3rem;
  text-transform: uppercase;
}
main .contact .arrow .right {
  justify-content: start;
  border-radius: 0.7rem;
  gap: 1.5rem;
  padding: 1rem 4rem;
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 0%);
}
main .contact .arrow .right i {
  border-radius: 50%;
  padding: 0.5rem;
  background: hsla(0, 0%, 85%, 0.096);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1.5px solid hsla(0, 0%, 85%, 0.568);
}
main .footer {
  width: 100%;
  background: hsl(0, 0%, 7%);
  color: hsl(0, 0%, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 2rem;
  /* ==== MAIN WRAPPER ==== */
  /* ==== BOTTOM BAR ==== */
}
main .footer .footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* ==== LEFT SIDE ==== */
  /* ==== RIGHT SIDE ==== */
}
main .footer .footer-wrapper .footer-left {
  background: hsl(0, 0%, 6%);
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
}
main .footer .footer-wrapper .footer-left .logo {
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: hsl(0, 0%, 100%);
}
main .footer .footer-wrapper .footer-left .social-icons {
  display: flex;
  gap: 1rem;
}
main .footer .footer-wrapper .footer-left .social-icons .icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 100%);
  font-size: 1.1rem;
  transition: all 0.3s ease;
}
main .footer .footer-wrapper .footer-left .social-icons .icon:hover {
  background: hsl(0, 0%, 15%);
}
main .footer .footer-wrapper .footer-links {
  background: hsl(0, 0%, 6%);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .footer .footer-wrapper .footer-links .column h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: hsl(0, 0%, 100%);
  letter-spacing: 1px;
}
main .footer .footer-wrapper .footer-links .column ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .footer .footer-wrapper .footer-links .column ul li {
  font-size: 0.9rem;
  color: hsl(0, 0%, 75%);
  cursor: pointer;
}
main .footer .footer-wrapper .footer-links .column ul li:hover {
  color: hsl(0, 0%, 100%);
}
main .footer .footer-wrapper .footer-links .column .more-btn {
  background: hsl(56, 50%, 55%);
  border: none;
  color: hsl(0, 0%, 0%);
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  margin-top: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
main .footer .footer-bottom {
  width: 100%;
  background: hsl(0, 0%, 5%);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  font-size: 0.9rem;
  color: hsl(0, 0%, 75%);
}
main .footer .footer-bottom span {
  color: hsl(0, 0%, 100%);
}
main .footer .footer-bottom .to-top {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
main .footer .footer-bottom .to-top p {
  letter-spacing: 1px;
}
main .footer .footer-bottom .to-top .top-icon {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: hsl(0, 0%, 10%);
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .footer .footer-wrapper .footer-links {
    flex-direction: row;
    justify-content: space-between;
  }
  main .footer .footer-wrapper .footer-links .column {
    width: 33%;
  }
  main .footer .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  main .footer {
    flex-direction: column;
  }
  main .footer .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }
  main .footer .footer-wrapper .footer-links {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 3rem;
  }
  main .footer .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem;
  }
}
@media (min-width: 1441px) and (max-width: 2560px) {
  main .footer .footer-wrapper {
    max-width: 1800px;
    margin: 0 auto;
  }
  main .footer .footer-links .column h3 {
    font-size: 1.1rem;
  }
  main .footer .footer-links .column ul li {
    font-size: 1rem;
  }
  main .footer .footer-bottom {
    font-size: 1rem;
  }
}
@media (min-width: 2561px) and (max-width: 3840px) {
  main .footer .footer-wrapper {
    max-width: 2000px;
    margin: 0 auto;
    gap: 3rem;
  }
  main .footer .footer-links .column h3 {
    font-size: 1.3rem;
  }
  main .footer .footer-links .column ul li {
    font-size: 1.1rem;
  }
  main .footer .footer-links .more-btn {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  main .footer .footer-bottom {
    font-size: 1.1rem;
    padding: 2rem 4rem;
  }
}

/* ⬇️⬇️⬇️Laptop screen⬇️⬇️⬇️ */
@media (min-width: 768px) and (max-width: 1023px) {
  main nav .nav-sec button {
    display: initial;
  }
  main .img-text .join .p-section p:nth-child(2) {
    font-size: 3rem;
    line-height: 4rem;
  }
  main .three-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  main .progress {
    grid-template-columns: repeat(4, 1fr);
  }
  main .progress .text h1 {
    font-size: 1.2rem;
  }
  main .progress .text p {
    font-size: 4rem;
  }
  main .second-section .text .bottom h2,
  main .third-section .text .bottom h2 {
    font-size: 4rem;
  }
  main .second-section .text .bottom .p-section,
  main .third-section .text .bottom .p-section {
    line-height: 2rem;
    font-size: 1.2rem;
    opacity: 0.6;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    -moz-column-count: 2;
         column-count: 2;
  }
  main .ourteam {
    padding: 0.7rem;
  }
  main .ourteam .text {
    display: initial;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
/* ⬇️⬇️⬇️Desktop screen⬇️⬇️⬇️ */
@media (min-width: 1024px) and (max-width: 1440px) {
  main nav .nav-sec button {
    display: initial;
  }
  main .contact {
    width: 100%;
  }
  main .contact .arrow {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
  }
  main .contact .arrow .right {
    justify-items: end;
  }
  main .img-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  main .three-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main .first-section {
    min-height: 60dvh;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: row;
  }
  main .first-section img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .first-section .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 3.5rem;
  }
  main .progress {
    grid-template-columns: repeat(4, 1fr);
  }
  main .progress .text h1 {
    font-size: 1.5rem;
  }
  main .progress .text p {
    font-size: 4.7rem;
  }
  main .second-section,
  main .third-section {
    min-height: 60dvh;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
  }
  main .second-section img,
  main .third-section img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .second-section .text,
  main .third-section .text {
    width: 50%;
    gap: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 3rem;
  }
  main .second-section .text .bottom h2,
  main .third-section .text .bottom h2 {
    font-size: 4rem;
  }
  main .second-section .text .bottom .p-section,
  main .third-section .text .bottom .p-section {
    line-height: 2rem;
    font-size: 1.2rem;
    opacity: 0.6;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-width: 10rem;
         column-width: 10rem;
  }
  main .second-section {
    flex-direction: row-reverse;
  }
  main .ourteam {
    width: 100%;
    padding: 0.7rem;
  }
  main .ourteam .text {
    display: initial;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
/* ⬇️⬇️⬇️Large desktop / 2K⬇️⬇️⬇️ */
@media (min-width: 1441px) and (max-width: 2560px) {
  main nav .nav-sec button {
    display: initial;
  }
  main .three-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main .contact {
    width: 100%;
  }
  main .contact .arrow {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
  }
  main .contact .arrow .left {
    font-size: 4rem;
    line-height: 5rem;
  }
  main .contact .arrow .right {
    justify-items: end;
  }
  main .img-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  main .three-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main .second-section,
  main .third-section {
    min-height: 60dvh;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
  }
  main .second-section img,
  main .third-section img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .second-section .text,
  main .third-section .text {
    width: 50%;
    gap: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 3rem;
  }
  main .second-section .text .bottom h2,
  main .third-section .text .bottom h2 {
    font-size: 4rem;
  }
  main .second-section .text .bottom .p-section,
  main .third-section .text .bottom .p-section {
    line-height: 2rem;
    font-size: 1.2rem;
    opacity: 0.6;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-width: 10rem;
         column-width: 10rem;
  }
  main .second-section {
    flex-direction: row-reverse;
  }
  main .progress {
    grid-template-columns: repeat(4, 1fr);
  }
  main .progress .text h1 {
    font-size: 1.5rem;
  }
  main .progress .text .p-section {
    width: 100%;
  }
  main .progress .text p {
    font-size: 4.7rem;
  }
  main .ourteam {
    width: 100%;
    padding: 0.7rem;
  }
  main .ourteam .text {
    display: initial;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
/* ⬇️⬇️⬇️Ultra 4K screen⬇️⬇️⬇️ */
@media (min-width: 2561px) and (max-width: 3840px) {
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: hsl(0, 0%, 7%);
  }
  .img-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .three-img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0.7rem;
  }
  .three-img .section {
    color: hsl(0, 0%, 100%);
    display: flex;
    padding: 2rem 0.5rem;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    gap: 1rem;
  }
  .three-img .section .top {
    display: flex;
    gap: 1rem;
  }
  .three-img .section .top i {
    border-radius: 50%;
    padding: 0.5rem;
    background: hsla(0, 0%, 85%, 0.096);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border: 1.5px solid hsla(0, 0%, 85%, 0.568);
  }
  .three-img .section .bottom {
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem;
    background: hsla(0, 0%, 85%, 0.295);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border: 1.5px solid hsl(0, 0%, 100%);
  }
  .three-img .section .bottom h1 {
    font-size: 1.5rem;
  }
  .three-img .section .bottom h2 {
    font-size: 1rem;
    opacity: 0.7;
  }
  .three-img .section:nth-child(1) {
    background-image: url(./Asset/Images/Forth\ Image.webp);
    aspect-ratio: 1/1;
    background-size: cover;
    width: 100%;
    border-radius: 0.7rem;
  }
  .three-img .section:nth-child(2) {
    background-image: url(./Asset/Images/fifth\ img.webp);
    aspect-ratio: 1/1;
    background-size: cover;
    width: 100%;
    border-radius: 0.7rem;
  }
  .three-img .section:nth-child(3) {
    background-image: url(./Asset/Images/sixth\ img.webp);
    aspect-ratio: 1/1;
    background-size: cover;
    width: 100%;
    border-radius: 0.7rem;
  }
  main {
    max-width: 1900px;
  }
  main nav .nav-sec button {
    display: initial;
  }
  main .first-section,
  main .second-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: row;
  }
  main .first-section img,
  main .second-section img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .first-section .text,
  main .second-section .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 3.5rem;
  }
  main .first-section .text .bottom h2,
  main .second-section .text .bottom h2 {
    font-size: 4rem;
  }
  main .first-section .text .bottom .p-section,
  main .second-section .text .bottom .p-section {
    line-height: 2rem;
    font-size: 1.2rem;
    opacity: 0.6;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-width: 10rem;
         column-width: 10rem;
  }
  main .progress {
    padding: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }
  main .progress .text h1 {
    font-size: 1.5rem;
  }
  main .progress .text p {
    font-size: 4.7rem;
  }
  main .ourteam {
    width: 100%;
    padding: 0.7rem;
  }
  main .ourteam .text {
    display: initial;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  main .contact {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    background: hsla(56, 91%, 48%, 0.822);
    border-radius: 0.7rem;
  }
  main .contact p:first-child {
    font-size: 1rem;
    opacity: 0.9;
  }
  main .contact .arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
  }
  main .contact .arrow .left {
    font-size: 6rem;
    width: 65%;
    font-weight: 200;
    line-height: 7rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 0%);
  }
  main .contact .arrow .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0.7rem;
    gap: 1.5rem;
    padding: 1rem 2rem;
    color: hsl(0, 0%, 100%);
    background: hsl(0, 0%, 0%);
    white-space: nowrap;
  }
  main .contact .arrow .right i {
    border-radius: 50%;
    padding: 0.5rem;
    background: hsla(0, 0%, 85%, 0.096);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border: 1.5px solid hsla(0, 0%, 85%, 0.568);
  }
}/*# sourceMappingURL=style.css.map */