* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --pri: #6c5ce7;
    --sec: #00cec9;

    --tri1: #fdcb6e;
    --tri2: #fab1a0;
    --tri3: #81ecec;
    --tri4: #a29bfe;

    --red: #ff6b6b;
    --green: #55efc4;

    --text: #232425;
    --text-light: #ffffff;
}

main {
    width: 100%;
    height: 100%;
    background-color: var(--pri);

    .allElems {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 1rem;
        background-color: var(--sec);

        display: grid;
        gap: 1rem;
        max-width: 1600px;
        left: 50%;
        transform: translateX(-50%);

        .elem {
            background-color: var(--tri1);
            position: relative;
            border-radius: 0.4rem;
            overflow: hidden;
            transition: all ease 0.3s;
            box-shadow: 0.4rem 0.4rem 1rem var(--pri),
                -0.3rem -0.3rem 1rem var(--tri2);

            &:active {
                scale: 0.95;
            }

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: bottom;
                pointer-events: none;
            }
            h2 {
                position: absolute;
                bottom: 2%;
                right: 2%;
                pointer-events: none;
                color: var(--text-light);
                font-size: clamp(2rem, 1.6rem + 1.28vw, 4rem);
            }
        }
    }

    .fullElem {
        position: absolute;
        height: 100%;
        width: 100%;
        background: var(--sec);
        padding: 1rem;
        display: none;
        max-width: 1600px;
        left: 50%;
        transform: translateX(-50%);

        .back-container {
            grid-area: top;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: 3px solid var(--tri1);
            margin-bottom: 0.3rem;

            > h3 {
                font-size: clamp(1.6rem, 1.32rem + 0.896vw, 3rem);
            }
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--red);
                gap: 0.5rem;
                padding: 0.2rem 1rem;
                cursor: pointer;
                border-radius: 0.3rem;
                transition: all ease 0.3s;
                font-size: 1rem;
                color: var(--text-light);

                > button {
                    background: none;
                    border: none;
                    color: var(--text-light);
                }

                &:active {
                    scale: 0.95;
                }
            }
        }
    }

    .todo-fullpage {
        height: 100%;
        // display: grid;
        grid-template-rows: 12% 12% 76%;
        grid-template-areas:
            "top"
            "middle"
            "bottom";
        .date-container {
            grid-area: middle;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 0.2rem;
            padding: 0.3rem;
            border-bottom: 3px solid var(--tri1);
            margin-bottom: 0.3rem;

            .date,
            .month,
            .time,
            .day {
                width: 100%;
                text-align: center;
                padding: 0.3rem 1rem;
                background: var(--pri);
                border-radius: 0.4rem;
                color: var(--text-light);
                font-weight: 700;
                font-size: clamp(0.9rem, 0.78rem + 0.384vw, 1.5rem);
            }
        }
        .todo-container {
            grid-area: bottom;
            width: 100%;

            .addTask {
                height: 45%;
                width: 100%;
                border-radius: 0.4rem;
                background-color: var(--pri);
                margin-bottom: 1rem;

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 1rem;
                    gap: 1rem;

                    > input,
                    textarea {
                        padding: 0.5rem 1rem;
                        border-radius: 0.4rem;
                        width: 100%;
                        font-size: clamp(1rem, 0.9rem + 0.32vw, 1.5rem);
                        background-color: var(--text-light);
                        color: var(--text);
                        border: none;
                        outline: none;
                    }
                    > button {
                        padding: 0.5rem 1rem;
                        border-radius: 0.4rem;
                        width: 100%;
                        font-size: clamp(1rem, 0.9rem + 0.32vw, 1.5rem);
                        background-color: var(--green);
                        font-weight: 700;
                        color: var(--text);
                        border: none;
                        outline: none;
                        transition: all 0.2s ease;

                        &:active {
                            scale: 0.95;
                        }
                    }
                }

                .check-inp {
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    font-size: 1rem;
                    font-weight: 500;
                    gap: 1rem;

                    #check {
                        scale: 2;
                    }

                    label {
                        padding: 0.1rem 1rem;
                        border-radius: 0.4rem;
                        background-color: var(--tri2);
                    }
                }
            }

            .allTask {
                width: 100%;
                height: 53%;
                border-radius: 0.4rem;
                padding: 1rem;
                background-color: var(--pri);
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }

                .task {
                    width: 100%;
                    padding: 0.4rem 1rem;
                    border-radius: 0.4rem;
                    background-color: var(--tri4);
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 0.7rem;

                    .task-container {
                        h5 {
                            color: var(--text-light);
                            font-size: clamp(1rem, 0.9rem + 0.32vw, 1.5rem);

                            span {
                                background-color: var(--red);
                                padding: 0.2rem .5rem;
                                border-radius: 0.2rem;
                                font-size: .5rem;
                            }
                            span.true{
                                opacity: 1;
                            }
                            span.false{
                                opacity: 0;
                            }
                        }

                        .detail {
                            font-size: 0.85rem;
                        }
                    }

                    > button {
                        padding: 0.5rem 1rem;
                        border-radius: 0.4rem;
                        max-height: 40px;
                        font-size: 1rem;
                        background-color: var(--green);
                        font-weight: 700;
                        color: var(--text);
                        border: none;
                        outline: none;
                        transition: all 0.2s ease;

                        &:active {
                            scale: 0.95;
                        }
                    }
                }
            }
        }
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    main {
        .todo-fullpage {
            grid-template-rows: 11% 9% 80%;

            .date-container {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
            }

            .todo-container {
                display: flex;
                gap: 1rem;

                .addTask {
                    height: 100%;
                    width: 33%;
                }
                .allTask {
                    height: 100%;
                    width: 66%;
                }
            }
        }
        .allElems {
            height: 100%;
            display: grid;

            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, minmax(0, 1fr));
            grid-template-areas:
                "one two"
                "three four"
                "five five";

            .elem {
                height: 100%;

                &:nth-child(1) {
                    grid-area: one;
                }
                &:nth-child(2) {
                    grid-area: two;
                }
                &:nth-child(3) {
                    grid-area: three;
                }
                &:nth-child(4) {
                    grid-area: four;
                }
                &:nth-child(5) {
                    grid-area: five;
                }
            }
        }
    }
}

/* Laptop */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    main {
        .todo-fullpage {
            grid-template-rows: 11% 9% 80%;

            .date-container {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
            }

            .todo-container {
                display: flex;
                gap: 1rem;

                .addTask {
                    height: 100%;
                    width: 33%;
                }
                .allTask {
                    height: 100%;
                    width: 66%;
                }
            }
        }

        .allElems {
            height: 100%;
            display: grid;

            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, minmax(0, 1fr));
            grid-template-areas:
                "one one two two three three"
                "four four four five five five";

            .elem {
                height: 100%;

                &:nth-child(1) {
                    grid-area: one;
                }
                &:nth-child(2) {
                    grid-area: two;
                }
                &:nth-child(3) {
                    grid-area: three;
                }
                &:nth-child(4) {
                    grid-area: four;
                }
                &:nth-child(5) {
                    grid-area: five;
                }
            }
        }
    }
}

/* Large Display */
@media screen and (min-width: 1441px) and (max-width: 2559px) {
    main {
        .todo-fullpage {
            grid-template-rows: 11% 9% 80%;
            .date-container {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
            }
            .todo-container {
                display: flex;
                gap: 1rem;

                .addTask {
                    height: 100%;
                    width: 33%;
                }
                .allTask {
                    height: 100%;
                    width: 66%;
                }
            }
        }
        .allElems {
            height: 100%;
            display: grid;

            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, minmax(0, 1fr));
            grid-template-areas:
                "one one two two three three"
                "four four four five five five";

            .elem {
                height: 100%;

                &:nth-child(1) {
                    grid-area: one;
                }
                &:nth-child(2) {
                    grid-area: two;
                }
                &:nth-child(3) {
                    grid-area: three;
                }
                &:nth-child(4) {
                    grid-area: four;
                }
                &:nth-child(5) {
                    grid-area: five;
                }
            }
        }
    }
}

/* 4K Display */
@media screen and (min-width: 2560px) {
    main {
        .todo-fullpage {
            grid-template-rows: 11% 9% 80%;
            .date-container {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
            }
            .todo-container {
                display: flex;
                gap: 1rem;

                .addTask {
                    height: 100%;
                    width: 33%;
                }
                .allTask {
                    height: 100%;
                    width: 66%;
                }
            }
        }

        .allElems {
            max-width: 1600px;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            display: grid;

            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, minmax(0, 1fr));
            grid-template-areas:
                "one one two two three three"
                "four four four five five five";

            .elem {
                height: 100%;

                &:nth-child(1) {
                    grid-area: one;
                }
                &:nth-child(2) {
                    grid-area: two;
                }
                &:nth-child(3) {
                    grid-area: three;
                }
                &:nth-child(4) {
                    grid-area: four;
                }
                &:nth-child(5) {
                    grid-area: five;
                }
            }
        }
    }
}
