:root {
    // color variables
    --text-pri: #1c1c1c;
    --text-sec: #222;
    --text-active: #eeecec;

    /* Backgrounds */
    --bg-pri: linear-gradient(135deg, #1e1b4b, #312e81);
    --bg-sec: linear-gradient(135deg, #3b0764, #701a75);
    --bg-active: linear-gradient(135deg, #020617, #1e3a8a, #be185d);

    --bg-canvas: #0f172a;
    --bg-panel: #111827;

    /* Text colors */
    --text-main: #f9fafb;
    --text-muted: #9ca3af;
    --text-highlight: #fde68a;

    /* Accent colors */
    --accent-pink: #ec4899;
    --accent-yellow: #facc15;
    --accent-blue: #6366f1;

    /* Borders and dividers */
    --border-soft: rgba(255, 255, 255, 0.08);
    --border-active: #facc15;

    /* States */
    --hover-bg: rgba(255, 255, 255, 0.06);
    --active-shadow: 0 0 0 2px rgba(250, 204, 21, 0.4);

    // Text Size
    --text-sm: clamp(0.45rem, 0.5vw, 0.5rem);
    --text-md: clamp(0.6rem, 0.7vw, 0.75rem);
    --text-lg: clamp(0.85rem, 0.9vw, 1rem);
    --text-xl: clamp(1.05rem, 1.2vw, 1.25rem);
    --text-2xl: clamp(1.4rem, 1.7vw, 1.8rem);
    --text-3xl: clamp(2rem, 2.5vw, 2.8rem);
    --text-4xl: clamp(2.6rem, 3.2vw, 3.6rem);
    --text-5xl: clamp(3.2rem, 4vw, 4.5rem);

    // padding Variable
    --padding-sm: 0.5rem;
    --padding-md: 0.75rem;
    --padding-lg: 1rem;
    --padding-xl: 1.5rem;
    --padding-2xl: 2rem;
    --padding-3xl: 3rem;
    --padding-4xl: 4rem;
    --padding-5xl: 5rem;

    // Margin Variables
    --margin-sm: 0.5rem;
    --margin-md: 0.75rem;
    --margin-lg: 1rem;
    --margin-xl: 1.5rem;
    --margin-2xl: 2rem;
    --margin-3xl: 3rem;
    --margin-4xl: 4rem;
    --margin-5xl: 5rem;

    // Broder Radias
    --rounded-sm: 0.5rem;
    --rounded-md: 0.75rem;
    --rounded-lg: 1rem;
    --rounded-xl: 1.5rem;
    --rounded-2xl: 2rem;
    --rounded-3xl: 3rem;
    --rounded-4xl: 4rem;
    --rounded-5xl: 5rem;

    // Gap
    --gutter-sm: 0.5rem;
    --gutter-md: 0.75rem;
    --gutter-lg: 1rem;
    --gutter-xl: 1.5rem;
    --gutter-2xl: 2rem;
    --gutter-3xl: 3rem;
    --gutter-4xl: 4rem;
    --gutter-5xl: 5rem;

    // Small Size

    --border-sm: 1px;
    --border-md: 1.5px;
    --border-lg: 2px;
    --border-xl: 2.5px;
    --border-2xl: 3px;
    --border-3xl: 4px;
    --border-4xl: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    .first-page {
        width: 100%;
        height: 100vh;
        padding: var(--padding-xl);

        nav {
            width: 100%;

            .img-menu-container {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .logo {
                    width: 45px;
                }

                .menu-icon {
                    font-size: var(--text-xl);
                }
            }

            .left-right-container {
                width: 100%;
                display: flex;
                height: 0;
                overflow: hidden;
                justify-content: space-between;

                .logo {
                    width: 45px;
                    aspect-ratio: 1/1;
                }
                .left-right {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;

                    .left {
                        width: 55%;

                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        list-style-type: none;
                        font-size: var(--text-xl);

                        .first-page-nav {
                            text-decoration: none;
                            color: var(--text-pri);
                            transition: all 0.3s ease;

                            &:hover {
                                border-bottom: var(--border-lg) solid
                                    var(--text-pri);
                            }
                        }
                    }

                    .right {
                        width: 40%;

                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        list-style-type: none;
                        font-size: var(--text-xl);

                        a {
                            text-decoration: none;
                            color: var(--text-pri);
                            transition: all 0.3s ease;

                            &:hover {
                                border-bottom: var(--border-lg) solid
                                    var(--text-pri);
                            }
                        }

                        .contact-sales {
                            border: var(--border-lg) solid var(--text-pri);
                            border-radius: var(--rounded-md);
                            padding: var(--padding-md) var(--padding-lg);
                        }

                        .get-start {
                            padding: var(--padding-md) var(--padding-lg);
                            border-radius: var(--rounded-md);
                            background: black;
                            color: var(--text-active);

                            &:hover {
                                border: none;
                            }

                            &:active {
                                scale: 0.97;
                            }
                        }
                    }
                }
            }

            .menu-btn {
                width: 100%;
                display: flex;
                // please delete this
                height: 0;
                overflow: hidden;
                flex-direction: column;
                justify-content: space-between;
                aspect-ratio: 9/18;

                .top {
                    width: 100%;
                    ul {
                        margin-top: var(--margin-2xl);
                        width: 100%;
                        list-style-type: none;
                        font-size: var(--text-2xl);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: var(--gutter-xl);

                        li {
                            width: 100%;
                            a {
                                display: block;
                                padding-bottom: var(--padding-lg);
                                width: 100%;
                                text-decoration: none;
                                border-bottom: var(--border-2xl) solid
                                    var(--text-pri);
                            }
                        }
                    }
                }

                .bottom {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: var(--gutter-lg);

                    a {
                        display: block;
                        padding-bottom: var(--padding-lg);
                        width: 100%;
                        text-decoration: none;
                        font-size: var(--text-2xl);
                        padding: var(--padding-sm) var(--padding-md);
                        border-radius: var(--rounded-lg);
                    }

                    .get-start {
                        background: #000;
                        color: var(--text-active);

                        &:active {
                            scale: 0.97;
                        }
                    }

                    .contact-sales {
                        border: var(--border-lg) solid var(--text-pri);
                    }
                }
            }
        }

        .hero1 {
            width: 100%;
            margin-top: var(--margin-2xl);
            padding: var(--padding-sm);
            gap: var(--gutter-3xl);
            text-align: center;
            position: relative;

            > img {
                border: var(--border-2xl) solid var(--text-pri);
                padding: var(--padding-lg);
                border-radius: var(--rounded-sm);
                width: 100%;
                margin-top: var(--margin-2xl);
            }

            > p {
                font-size: var(--text-3xl);
                font-weight: 700;
                margin-bottom: var(--margin-3xl);
            }
            > h2 {
                font-weight: 400;
            }

            .get-start {
                padding: var(--padding-md) var(--padding-lg);
                border-radius: var(--rounded-md);
                background: black;
                font-size: var(--text-3xl);
                color: var(--text-active);
                margin-bottom: var(--margin-xl);

                &:active {
                    scale: 0.97;
                }
            }

            .login-popup {
                display: none;
                width: 100%;
                height: calc(100vh - 100px);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(113, 107, 107, 0.611);
                backdrop-filter: blur(5px);
                border-radius: var(--rounded-xl);
                .login-window {
                    width: 300px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: white;
                    aspect-ratio: 1/1;
                    border: var(--border-2xl) solid var(--text-pri);
                    border-radius: var(--rounded-lg);
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: var(--padding-md);
                    flex-direction: column;

                    > h2 {
                        font-size: var(--text-3xl);
                    }

                    .input-name {
                        padding: var(--padding-sm) var(--padding-lg);
                        background: #e0dfdf;
                        border-radius: var(--rounded-sm);
                        outline: none;
                        border: none;
                    }

                    .next {
                        padding: var(--padding-sm) var(--padding-lg);
                        background: black;
                        border-radius: var(--rounded-sm);
                        outline: none;
                        border: none;
                        color: var(--text-active);

                        &:active {
                            scale: 0.97;
                        }
                    }
                }
            }
        }
    }
    .secondPage-container {
        // display: none;
    }

    .second-page {
        width: 100%;
        padding: var(--padding-sm);
        gap: var(--gutter-sm);
        position: relative;
        display: flex;
        flex-direction: column;

        nav {
            width: 100%;
            display: flex;
            // position: absolute;
            align-items: center;
            gap: var(--gutter-lg);
            border-bottom: var(--border-sm) solid black;

            i {
                border: var(--border-lg) solid black;
                padding: var(--padding-sm);
                border-radius: var(--rounded-sm);
            }

            p {
                font-size: var(--text-2xl);
                font-weight: 600;
            }
        }

        // Second Page Left Panel
        .left {
            height: 90vh;
            width: 100%;
            background: var(--bg-pri);
            border-radius: var(--rounded-sm);
            padding: var(--padding-sm);

            // Left Panel Name Section
            .name-section {
                width: 100%;
                display: flex;
                background: var(--bg-active);
                flex-direction: column;
                gap: var(--gutter-xl);
                padding: var(--padding-sm);
                border-radius: var(--rounded-sm);

                .name-sec {
                    width: 60%;
                    padding: var(--padding-sm) var(--padding-lg);
                    border-radius: var(--rounded-5xl);
                    background: var(--bg-canvas);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .name-first {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--text-active);
                        font-weight: 700;
                        font-size: var(--text-2xl);
                        background: #000;
                    }

                    i {
                        color: var(--text-active);
                        font-weight: 700;
                        font-size: var(--text-2xl);
                    }
                }

                .username {
                    font-size: var(--text-2xl);
                    font-weight: 600;
                    width: 100%;
                    text-align: center;
                }
            }

            // Left Side bar Name and recent Panel
            .previous-creation {
                width: 100%;
                margin-top: var(--margin-3xl);
                max-height: 70%;
                background: var(--bg-sec);
                border-radius: var(--rounded-sm);
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                gap: var(--gutter-md);
                padding: var(--padding-sm);

                &::-webkit-scrollbar {
                    display: none;
                }

                .recent-canvas {
                    width: 100%;
                    height: 160px;
                    padding: var(--padding-sm);
                    flex-shrink: 0;
                    background: beige;
                    border-radius: var(--rounded-sm);
                }

                h3 {
                    font-size: var(--text-2xl);
                    color: var(--text-active);
                }
            }
        }

        .right-container {
            height: 97.5vh;
            display: none;
            width: 82%;
            .right {
                height: 100%;
                background: var(--bg-active);
                border-radius: var(--rounded-sm);
                display: flex;
                flex-direction: column;
                gap: var(--gutter-sm);
                padding: var(--padding-md);

                // Right pannel Top Section
                > .top {
                    height: 55vh;
                    overflow: none;
                    width: 100%;
                    background: var(--bg-pri);
                    border-radius: var(--rounded-md);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: var(--gutter-lg);
                    flex-direction: column;

                    > img {
                        width: 45%;
                        border-radius: var(--rounded-sm);
                    }

                    > button {
                        font-size: var(--text-3xl);
                        padding: var(--padding-sm) var(--padding-xl);
                        border-radius: var(--rounded-sm);
                        border: none;
                        outline: none;
                        background: var(--bg-active);
                        color: var(--text-main);
                        transition: all 0.3s ease;

                        &:active {
                            scale: 0.97;
                        }
                    }
                }

                // Right Pannel Bottom Pannel
                > .bottom {
                    height: 38.5vh;
                    width: 100%;
                    background: var(--bg-sec);
                    border-radius: var(--rounded-md);

                    h3 {
                        width: 100%;
                        font-size: var(--text-3xl);
                        text-align: center;
                        color: var(--text-active);
                        margin-bottom: var(--margin-xl);
                    }

                    .previous-creation {
                        width: 100%;
                        display: flex;
                        gap: var(--gutter-md);
                        overflow-x: scroll;
                        padding: var(--padding-sm);

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        .recent-canvas {
                            height: 180px;
                            border-radius: var(--rounded-sm);
                            width: 300px;
                            flex-shrink: 0;
                            padding: var(--padding-sm);
                            background: beige;
                        }
                    }
                }
            }
        }

        // User SideBar Menu bar
        .user-menu-side-bar {
            max-width: 270px;
            background: white;
            display: none;
            position: absolute;
            top: 50px;
            border-radius: var(--rounded-sm);

            padding: var(--padding-sm);
            left: 0;

            .name-section {
                width: 100%;
                display: flex;
                gap: var(--gutter-sm);
                align-items: center;
                border-bottom: var(--border-xl) solid var(--text-pri);
                padding: var(--padding-sm);

                .name-first {
                    font-size: var(--text-2xl);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-weight: 900;
                    color: var(--text-active);
                    background: blue;
                }

                .username {
                    font-size: var(--text-2xl);
                }

                i {
                    font-size: var(--text-2xl);
                }
            }

            .search,
            .recent {
                font-size: var(--text-2xl);
                font-weight: 700;
                display: flex;
                gap: var(--gutter-xl);
                margin-top: var(--margin-xl);
                align-items: center;

                border: var(--border-sm) solid black;
                padding: var(--padding-md);
                border-radius: var(--rounded-sm);

                input {
                    border: none;
                    outline: none;
                    font-size: var(--text-2xl);
                    width: 100%;
                }
            }

            > img {
                width: 100%;
                height: 250px;
                margin-top: var(--margin-4xl);
                border-radius: var(--rounded-md);
                object-fit: cover;
                margin-bottom: var(--margin-4xl);
            }
        }
    }

    .delete {
        display: none;
    }

    // Third Page / Main page

    .third-page {
        width: 100%;

        // Third Page Nav Section
        nav {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: var(--padding-md);
            background: var(--bg-sec);

            // Third Page Nav Left
            .left {
                display: flex;
                gap: var(--gutter-xl);
                align-items: center;
                color: var(--text-main);
                .name-first {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    font-size: var(--text-xl);
                    text-transform: uppercase;
                    font-weight: 800;
                    background: var(--bg-active);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            // Third Page Nav Right
            .right {
                display: flex;
                gap: var(--gutter-xl);
                align-items: center;
                color: var(--text-active);
                position: relative;

                .nav-btn {
                    font-size: var(--text-xl);
                    padding: var(--padding-sm) var(--padding-lg);
                    border-radius: var(--rounded-sm);
                    cursor: pointer;

                    &:active {
                        scale: 0.97;
                    }
                }

                .expand {
                    display: none;
                    border: var(--border-lg) solid var(--bg-canvas);
                    padding: var(--padding-sm);
                    border-radius: var(--rounded-sm);
                    z-index: 10;
                    position: absolute;
                    bottom: 0;
                    background: #000;
                    width: 130px;
                    transform: translateY(120%);
                    transition: all 0.3s ease-in-out;

                    .child {
                        background: var(--bg-active);
                        padding: 2px var(--padding-sm);
                        border-radius: var(--rounded-sm);
                        display: flex;
                        gap: var(--gutter-sm);
                        align-items: center;
                        cursor: pointer;
                        margin-top: var(--margin-sm);

                        &:active {
                            scale: 0.97;
                        }
                    }
                }

                #add {
                    background: beige;
                    color: #000;

                    i {
                        border: var(--border-md) solid var(--bg-canvas);
                        border-radius: 50%;
                    }
                }

                #save,
                #export {
                    background: var(--bg-panel);
                }
            }
        }

        .main-workspace {
            width: 100%;
            .workspace {
                width: 100%;
                height: calc(100vh - 65px);
                background: var(--bg-pri);
                display: grid;
                grid-template-columns: 18% 60% 22%;
                grid-template-rows: 1fr;

                .editor {
                    padding: var(--padding-sm);
                    border-radius: var(--rounded-sm);

                    .design-area {
                        height: 100%;
                        width: 100%;
                        border-radius: var(--rounded-sm);
                        padding: var(--padding-sm);
                        color: var(--text-active);

                        > h2 {
                            font-size: var(--text-3xl);
                            padding: var(--padding-sm);
                            border-bottom: var(--border-2xl) solid beige;
                        }
                    }
                }

                #layers {
                    .layers {
                        background: var(--bg-active);
                    }
                }
                #canvas {
                    height: 100%;
                    .canvas {
                        height: 100%;
                        width: 100%;
                        background: var(--bg-canvas);
                        position: relative;
                        overflow: hidden;
                    }
                }
                #properties {
                    .properties {
                        background: var(--bg-sec);
                    }
                }
            }
        }
    }
}

/* Large Display */
@media screen and (min-width: 1275px) and (max-width: 2559px) {
    main {
        .first-page {
            nav {
                .img-menu-container {
                    display: none;
                }
                .left-right-container {
                    height: 55px;
                }
            }

            .hero1 {
                img {
                    width: 28%;
                }
            }
        }

        .second-page {
            flex-direction: row;
            nav {
                display: none;
            }

            .left {
                height: 97.5vh;
                width: 18%;
            }
            .right-container {
                display: block;
            }

            .user-menu-side-bar {
                display: none;
            }
        }
    }
}

/* 4K Display */
@media screen and (min-width: 2560px) {
    main {
        .first-page {
            nav {
                .img-menu-container {
                    display: none;
                }
                .left-right-container {
                    height: 55px;
                }
            }
            .hero1 {
                img {
                    width: 28%;
                }
            }
        }
    }
}
