:root {
    // color variables
    --text-pri: #1c1c1c;
    --text-sec: #222;
    --text-active: #eeecec;

    // Text Size
    --text-sm: clamp(0.45rem, 0.5vw, 0.5rem);
    --text-md: clamp(0.6rem, 0.7vw, 0.75rem);
    --text-lg: clamp(0.85rem, 0.9vw, 1rem);
    --text-xl: clamp(1.05rem, 1.2vw, 1.25rem);
    --text-2xl: clamp(1.4rem, 1.7vw, 1.8rem);
    --text-3xl: clamp(2rem, 2.5vw, 2.8rem);
    --text-4xl: clamp(2.6rem, 3.2vw, 3.6rem);
    --text-5xl: clamp(3.2rem, 4vw, 4.5rem);

    // padding Variable
    --padding-sm: 0.5rem;
    --padding-md: 0.75rem;
    --padding-lg: 1rem;
    --padding-xl: 1.5rem;
    --padding-2xl: 2rem;
    --padding-3xl: 3rem;
    --padding-4xl: 4rem;
    --padding-5xl: 5rem;

    // Margin Variables
    --margin-sm: 0.5rem;
    --margin-md: 0.75rem;
    --margin-lg: 1rem;
    --margin-xl: 1.5rem;
    --margin-2xl: 2rem;
    --margin-3xl: 3rem;
    --margin-4xl: 4rem;
    --margin-5xl: 5rem;

    // Broder Radias
    --rounded-sm: 0.5rem;
    --rounded-md: 0.75rem;
    --rounded-lg: 1rem;
    --rounded-xl: 1.5rem;
    --rounded-2xl: 2rem;
    --rounded-3xl: 3rem;
    --rounded-4xl: 4rem;
    --rounded-5xl: 5rem;

    // Gap
    --gutter-sm: 0.5rem;
    --gutter-md: 0.75rem;
    --gutter-lg: 1rem;
    --gutter-xl: 1.5rem;
    --gutter-2xl: 2rem;
    --gutter-3xl: 3rem;
    --gutter-4xl: 4rem;
    --gutter-5xl: 5rem;

    // Small Size

    --border-sm: 1px;
    --border-md: 1.5px;
    --border-lg: 2px;
    --border-xl: 2.5px;
    --border-2xl: 3px;
    --border-3xl: 4px;
    --border-4xl: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    .first-page {
        width: 100%;
        padding: var(--padding-xl);

        nav {
            width: 100%;

            .img-menu-container {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .logo {
                    width: 45px;
                }

                .menu-icon {
                    font-size: var(--text-xl);
                }
            }

            .left-right-container {
                width: 100%;
                display: flex;
                height: 0;
                overflow: hidden;
                justify-content: space-between;

                .logo {
                    width: 45px;
                    aspect-ratio: 1/1;
                }
                .left-right {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;

                    .left {
                        width: 55%;

                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        list-style-type: none;
                        font-size: var(--text-xl);

                        .first-page-nav {
                            text-decoration: none;
                            color: var(--text-pri);
                            transition: all 0.3s ease;

                            &:hover {
                                border-bottom: var(--border-lg) solid
                                    var(--text-pri);
                            }
                        }
                    }

                    .right {
                        width: 40%;

                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        list-style-type: none;
                        font-size: var(--text-xl);

                        a {
                            text-decoration: none;
                            color: var(--text-pri);
                            transition: all 0.3s ease;

                            &:hover {
                                border-bottom: var(--border-lg) solid
                                    var(--text-pri);
                            }
                        }

                        .contact-sales {
                            border: var(--border-lg) solid var(--text-pri);
                            border-radius: var(--rounded-md);
                            padding: var(--padding-md) var(--padding-lg);
                        }

                        .get-start {
                            padding: var(--padding-md) var(--padding-lg);
                            border-radius: var(--rounded-md);
                            background: black;
                            color: var(--text-active);

                            &:hover {
                                border: none;
                            }
                        }
                    }
                }
            }

            .menu-btn {
                width: 100%;
                display: flex;
                // please delete this
                height: 0;
                overflow: hidden;
                flex-direction: column;
                justify-content: space-between;
                aspect-ratio: 9/18;

                .top {
                    width: 100%;
                    ul {
                        margin-top: var(--margin-2xl);
                        width: 100%;
                        list-style-type: none;
                        font-size: var(--text-2xl);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: var(--gutter-xl);

                        li {
                            width: 100%;
                            a {
                                display: block;
                                padding-bottom: var(--padding-lg);
                                width: 100%;
                                text-decoration: none;
                                border-bottom: var(--border-2xl) solid
                                    var(--text-pri);
                            }
                        }
                    }
                }

                .bottom {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: var(--gutter-lg);

                    a {
                        display: block;
                        padding-bottom: var(--padding-lg);
                        width: 100%;
                        text-decoration: none;
                        font-size: var(--text-2xl);
                        padding: var(--padding-sm) var(--padding-md);
                        border-radius: var(--rounded-lg);
                    }

                    .get-start {
                        background: #000;
                        color: var(--text-active);
                    }

                    .contact-sales {
                        border: var(--border-lg) solid var(--text-pri);
                    }
                }
            }
        }

        .hero1 {
            width: 100%;
            margin-top: var(--margin-2xl);
            padding: var(--padding-sm);
            gap: var(--gutter-3xl);
            text-align: center;
            position: relative;

            > img {
                border: var(--border-2xl) solid var(--text-pri);
                padding: var(--padding-lg);
                border-radius: var(--rounded-sm);
                width: 100%;
                margin-top: var(--margin-2xl);
            }

            > p {
                font-size: var(--text-3xl);
                font-weight: 700;
                margin-bottom: var(--margin-3xl);
            }
            > h2 {
                font-weight: 400;
            }

            .get-start {
                padding: var(--padding-md) var(--padding-lg);
                border-radius: var(--rounded-md);
                background: black;
                font-size: var(--text-3xl);
                color: var(--text-active);
                margin-bottom: var(--margin-xl);
            }

            .login-popup {
                display: none;
                width: 100%;
                height: calc(100vh - 100px);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(113, 107, 107, 0.611);
                backdrop-filter: blur(5px);
                border-radius: var(--rounded-xl);
                .login-window {
                    width: 300px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: white;
                    aspect-ratio: 1/1;
                    border: var(--border-2xl) solid var(--text-pri);
                    border-radius: var(--rounded-lg);
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: var(--padding-md);
                    flex-direction: column;

                    .google {
                        border: var(--border-md) solid var(--text-pri);
                        padding: var(--padding-sm) var(--padding-md);
                        font-size: var(--text-xl);
                        display: flex;
                        gap: var(--gutter-xl);
                        border-radius: var(--rounded-lg);

                        > img {
                            width: 30px;
                        }
                    }

                    .email-textarea{
                        background: #93909092;
                        width: 100%;
                        border-radius: var(--rounded-md);
                        text-align: left;
                        padding: var(--padding-md);

                        textarea{
                            border: none;
                            outline: none;
                            background: none;
                        }
                    }
                    .email{
                        background: black;
                        color: var(--text-active);
                        width: 100%;
                        padding: var(--padding-sm) var(--padding-lg);
                        border-radius: var(--rounded-md);

                    }
                }
            }
        }
    }


    .second-page{
        height: 100vh;
        width: 100%;
        background: red;
        display: none;
    }
}

/* Tablet */

/* Large Display */
@media screen and (min-width: 1275px) and (max-width: 2559px) {
    main {
        .first-page {
            nav {
                .img-menu-container {
                    display: none;
                }
                .left-right-container {
                    height: 55px;
                }
            }

            .hero1 {
                img {
                    width: 28%;
                }
            }
        }
    }
}

/* 4K Display */
@media screen and (min-width: 2560px) {
    main {
        .first-page {
            nav {
                .img-menu-container {
                    display: none;
                }
                .left-right-container {
                    height: 55px;
                }
            }
            .hero1 {
                img {
                    width: 28%;
                }
            }
        }
    }
}
