* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --pri: #6c5ce7;
    --sec: #00cec9;

    --tri1: #fdcb6e;
    --tri2: #fab1a0;
    --tri3: #81ecec;
    --tri4: #a29bfe;

    --red: #ff6b6b;
    --green: #55efc4;

    --text: #232425;
    --text-light: #ffffff;
}

main {
    width: 100%;
    height: 100%;
    background-color: var(--pri);

    .allElems {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 1rem;
        background-color: var(--sec);

        display: grid;
        gap: 1rem;
        max-width: 1600px;
        left: 50%;
        transform: translateX(-50%);

        .elem {
            background-color: var(--tri1);
            position: relative;
            border-radius: 0.4rem;
            overflow: hidden;
            transition: all ease 0.3s;
            box-shadow: 0.4rem 0.4rem 1rem var(--pri),
                -0.3rem -0.3rem 1rem var(--tri2);

            &:active {
                scale: 0.95;
            }

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: bottom;
                pointer-events: none;
            }
            h2 {
                position: absolute;
                bottom: 2%;
                right: 2%;
                pointer-events: none;
                color: var(--text-light);
                font-size: clamp(2rem, 1.6rem + 1.28vw, 4rem);
            }
        }
    }

    .fullElem {
        position: absolute;
        height: 100%;
        width: 100%;
        background: var(--sec);
        padding: 1rem;
        display: none;
        max-width: 1600px;
        left: 50%;
        transform: translateX(-50%);
    }

    .todo-fullpage {
        height: 100%;
        // display: grid;
        grid-template-rows: 12% 12% 76%;
        grid-template-areas:
            "top"
            "middle"
            "bottom";
        .back-container {
            grid-area: top;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: 3px solid var(--tri1);
            margin-bottom: 0.3rem;

            > h3 {
                font-size: clamp(1.6rem, 1.32rem + 0.896vw, 3rem);
            }
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--red);
                gap: 0.5rem;
                padding: 0.2rem 1rem;
                cursor: pointer;
                border-radius: 0.3rem;
                transition: all ease 0.3s;
                font-size: 1rem;
                color: var(--text-light);

                > button {
                    background: none;
                    border: none;
                    color: var(--text-light);
                }

                &:active {
                    scale: 0.95;
                }
            }
        }

        .date-container {
            grid-area: middle;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 0.2rem;
            padding: 0.3rem;
            border-bottom: 3px solid var(--tri1);
            margin-bottom: 0.3rem;

            .date,
            .month,
            .time,
            .day {
                width: 100%;
                text-align: center;
                padding: 0.3rem 1rem;
                background: var(--pri);
                border-radius: 0.4rem;
                color: var(--text-light);
                font-weight: 700;
                font-size: clamp(0.9rem, 0.78rem + 0.384vw, 1.5rem);
            }
        }
        .todo-container {
            grid-area: bottom;
            width: 100%;

            .addTask {
                height: 45%;
                width: 100%;
                border-radius: 0.4rem;
                background-color: var(--pri);
                margin-bottom: 1rem;

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 1rem;
                    gap: 1rem;

                    > input,
                    textarea {
                        padding: 0.5rem 1rem;
                        border-radius: 0.4rem;
                        width: 100%;
                        font-size: clamp(1rem, 0.9rem + 0.32vw, 1.5rem);
                        background-color: var(--text-light);
                        color: var(--text);
                        border: none;
                        outline: none;
                    }
                    > button {
                        padding: 0.5rem 1rem;
                        border-radius: 0.4rem;
                        width: 100%;
                        font-size: clamp(1rem, 0.9rem + 0.32vw, 1.5rem);
                        background-color: var(--green);
                        font-weight: 700;
                        color: var(--text);
                        border: none;
                        outline: none;
                        transition: all 0.2s ease;

                        &:active {
                            scale: 0.95;
                        }
                    }
                }

                .check-inp {
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    font-size: 1rem;
                    font-weight: 500;
                    gap: 1rem;

                    #check {
                        scale: 2;
                    }

                    label {
                        padding: 0.1rem 1rem;
                        border-radius: 0.4rem;
                        background-color: var(--tri2);
                    }
                }
            }

            .allTask {
                width: 100%;
                height: 53%;
                border-radius: 0.4rem;
                padding: 1rem;
                background-color: var(--pri);
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }

                .task {
                    width: 100%;
                    padding: 0.4rem 1rem;
                    border-radius: 0.4rem;
                    background-color: var(--tri4);
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 0.7rem;

                    .task-container {
                        h5 {
                            color: var(--text-light);
                            font-size: clamp(1rem, 0.9rem + 0.32vw, 1.5rem);

                            span {
                                background-color: var(--red);
                                padding: 0.2rem 0.5rem;
                                border-radius: 0.2rem;
                                font-size: 0.5rem;
                            }
                            span.true {
                                opacity: 1;
                            }
                            span.false {
                                opacity: 0;
                            }
                        }

                        .detail {
                            font-size: 0.85rem;
                        }
                    }

                    > button {
                        padding: 0.5rem 1rem;
                        border-radius: 0.4rem;
                        max-height: 40px;
                        font-size: 1rem;
                        background-color: var(--green);
                        font-weight: 700;
                        color: var(--text);
                        border: none;
                        outline: none;
                        transition: all 0.2s ease;

                        &:active {
                            scale: 0.95;
                        }
                    }
                }
            }
        }
    }

    .daily-planner-fullpage {
        width: 100%;
        height: 100%;
        // page not change
        // display: grid;
        margin-top: -0.5rem;
        grid-template-rows: 9% 92%;

        .back-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: 3px solid var(--tri1);
            margin-bottom: 0.3rem;

            > h3 {
                font-size: clamp(1rem, 0.6rem + 1.28vw, 3rem);
            }
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--red);
                gap: 0.5rem;
                padding: 0.2rem 1rem;
                cursor: pointer;
                border-radius: 0.3rem;
                transition: all ease 0.3s;
                font-size: 1rem;
                color: var(--text-light);

                > button {
                    background: none;
                    border: none;
                    color: var(--text-light);
                }

                &:active {
                    scale: 0.95;
                }
            }
        }

        .day-planner {
            width: 100%;
            padding: 0.3rem;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .day-planner-time {
                width: 100%;
                background-color: var(--tri4);
                border-radius: 0.3rem;
                padding: 0.3rem 0.5rem;
                margin-bottom: 0.5rem;

                > p {
                    font-size: clamp(0.6rem, 0.42rem + 0.576vw, 1.5rem);
                    // padding: 0.4rem;
                    color: var(--tri3);
                }
                > input {
                    font-size: clamp(1rem, 0.74rem + 0.832vw, 2.3rem);
                    width: 100%;
                    background-color: var(--pri);
                    color: var(--text-light);
                    outline: none;
                    padding: 0.4rem 0.6rem;
                    border-radius: 0.4rem;
                    border: none;

                    &::placeholder {
                        color: var(--tri3);
                        font-size: clamp(1rem, 0.74rem + 0.832vw, 2.3rem);
                    }
                }
            }
        }
    }

    .motivational-fullpage {
        grid-template-rows: 10% 90%;
        position: relative;
        background: conic-gradient(
            from var(--rotate),
            var(--tri3),
            var(--tri1),
            var(--tri2),
            var(--pri),
            var(--tri3)
        );
        animation: rotate-container 8s linear infinite;

        .back-container {
            width: 100%;
            display: flex;
            background-color: rgba(40, 206, 201, 0.33);
            border-radius: 0.4rem;

            justify-content: space-between;
            padding: 1rem;
            border-bottom: 3px solid var(--tri1);
            margin-bottom: 0.3rem;

            > h3 {
                font-size: clamp(1rem, 0.6rem + 1.28vw, 3rem);
                color: var(--text);
            }

            .container {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                background-color: var(--red);
                padding: 0.4rem 1rem;
                border-radius: 0.3rem;
                color: var(--text-light);
                cursor: pointer;
                transition: transform 0.3s ease;

                &:active {
                    transform: scale(0.95);
                }

                button {
                    background: none;
                    border: none;
                    color: var(--text-light);
                }
            }
        }

        .motivation-container-contain {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .motivation-container {
                width: calc(clamp(18.75rem, 14.019vw + 15.596rem, 37.5rem));
                // height: calc(clamp(18.75rem, 14.019vw + 15.596rem, 37.5rem));
                padding: 1rem;
                border-radius: 1rem;
                position: relative;

                background: linear-gradient(var(--tri4), var(--pri)) content-box,
                    conic-gradient(
                            from var(--rotate),
                            var(--tri1),
                            var(--tri3),
                            var(--tri4),
                            var(--sec),
                            var(--tri1)
                        )
                        padding-box;

                animation: rotate-container 8s linear infinite;
                box-shadow: 0 18px 35px rgba(0, 0, 0, 0.35);

                &::after {
                    content: "";
                    position: absolute;
                    inset: -1.2rem;
                    border-radius: inherit;
                    background: conic-gradient(
                        from var(--rotate),
                        var(--tri1),
                        var(--tri3),
                        var(--tri4),
                        var(--sec),
                        var(--tri1)
                    );
                    filter: blur(2.2rem);
                    opacity: 0.6;
                    z-index: -1;
                    animation: rotate-container 8s linear infinite;
                }

                .motivation-wrapper {
                    width: 100%;
                    height: 100%;
                    border-radius: 0.8rem;
                    background: var(--text);
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    color: var(--text-light);
                    font-size: 0.95rem;
                    text-align: center;
                    padding: 1rem;
                    flex-direction: column;

                    .motivation-1 {
                        background: var(--pri);
                        padding: 0.3rem 0.6rem;
                        width: 100%;
                        border-radius: 0.4rem;
                        text-align: left;
                        margin-bottom: 2rem;
                        font-size: clamp(0.35rem, 0.22rem + 0.416vw, 1rem);
                    }

                    .motivation-2 {
                        text-align: start;
                        font-weight: 700;

                        h1 {
                            font-size: clamp(
                                0.8rem,
                                0.6654rem + 0.5981vw,
                                1.6rem
                            );
                        }
                    }
                    .motivation-3 {
                        font-size: clamp(0.35rem, 0.22rem + 0.416vw, 1rem);
                        color: var(--sec);
                        width: 100%;
                        text-align: right;
                        margin-top: clamp(0.8rem, 0.6654rem + 0.5981vw, 1.6rem);
                    }
                }
            }
        }
    }
    .pomodoro-fullpage {
        display: grid;
        grid-template-rows: 10% 90%;
        position: relative;
        .back-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: 3px solid var(--tri1);
            margin-bottom: 0.3rem;

            > h3 {
                font-size: clamp(1rem, 0.6rem + 1.28vw, 3rem);
                color: var(--text);
            }

            .container {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0.2rem 1rem;
                background-color: var(--red);
                border-radius: 0.3rem;
                color: var(--text-light);
                cursor: pointer;
                transition: transform 0.3s ease;

                &:active {
                    transform: scale(0.95);
                }

                button {
                    background: none;
                    border: none;
                    color: var(--text-light);
                }
            }
        }

        .pomo-timer {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            h1 {
                font-size: clamp(5rem, 3.6542rem + 5.9813vw, 13rem);
            }

            > button {
                padding: 0.25rem 1.5rem;
                font-size: clamp(1rem, 0.7477rem + 1.1215vw, 2.5rem);
                border-radius: 0.4rem;
                border: none;
                outline: none;
                margin: 0.7rem;
                background-color: var(--pri);
                color: var(--text-light);
                font-weight: 600;
                box-shadow: 3px 3px 0 var(--text);
                transition: all 0.1s ease;

                &:active {
                    scale: 0.98;
                    box-shadow: 0px 0px 0 var(--text);
                }
            }
        }

        .pomo-timer-input {
            position: absolute;
            bottom: 5%;
            width: 100%;
            padding: 1rem;

            .bottom-container {
                max-width: 700px;
                margin: 0 auto;

                h1{
                    display: none;
                    text-align: center;
                    margin-bottom: 1rem;
                    color: var(--red);
                    font-size: clamp(0.8rem, 0.5981rem + 0.8972vw, 2rem);
                }

                .inp-container {
                    margin: 0 auto;
                    max-width: 330px;
                    display: flex;
                    justify-content: center;
                    gap: 1rem;

                    input {
                        position: relative;
                        width: 70%;
                        padding: 0.4rem 1.5rem;
                        border-radius: 0.4rem;
                        border: none;
                        outline: none;
                        background-color: var(--text-light);
                        font-weight: 700;
                        box-shadow: inset 0 0 1rem var(--pri);
                        text-align: center;
                    }

                    h2 {
                        width: 30%;
                        padding: 0.4rem 1.5rem;
                        border-radius: 0.4rem;
                        border: none;
                        outline: none;
                        background-color: var(--tri1);
                        font-weight: 600;
                        text-align: center;
                        box-shadow: inset 0 0 1rem var(--pri);
                        position: relative;
                        user-select: none;
                        -webkit-user-select: none;
                        -ms-user-select: none;
                        cursor: pointer;

                        &::after {
                            content: "";
                            position: absolute;
                            inset: -1px;
                            box-shadow: 0 0 1rem var(--red);
                            border-radius: 0.4rem;
                        }

                        &:active {
                            scale: 0.95;
                        }
                    }
                }
            }
        }
    }
}

@property --rotate {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotate-container {
    from {
        --rotate: 0deg;
    }
    to {
        --rotate: 360deg;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    main {
        .daily-planner-fullpage {
            padding: 1rem;

            .day-planner {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0.75rem;

                .day-planner-time {
                    padding: 0.75rem 0.5rem;
                    border-bottom: 1px solid var(--text-light);
                    font-size: 0.95rem;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                }
            }
        }
        .todo-fullpage {
            grid-template-rows: 11% 9% 80%;

            .date-container {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
            }

            .todo-container {
                display: flex;
                gap: 1rem;

                .addTask {
                    height: 100%;
                    width: 33%;
                }
                .allTask {
                    height: 100%;
                    width: 66%;
                }
            }
        }
        .allElems {
            height: 100%;
            display: grid;

            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, minmax(0, 1fr));
            grid-template-areas:
                "one two"
                "three four"
                "five five";

            .elem {
                height: 100%;

                &:nth-child(1) {
                    grid-area: one;
                }
                &:nth-child(2) {
                    grid-area: two;
                }
                &:nth-child(3) {
                    grid-area: three;
                }
                &:nth-child(4) {
                    grid-area: four;
                }
                &:nth-child(5) {
                    grid-area: five;
                }
            }
        }
    }
}

/* Laptop */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    main {
        .daily-planner-fullpage {
            grid-template-rows: 11% 90%;
            padding: 1rem;

            .day-planner {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 0.75rem;

                .day-planner-time {
                    padding: 0.75rem 0.5rem;
                    border-bottom: 1px solid var(--text-light);
                    font-size: 0.95rem;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                }
            }
        }

        .todo-fullpage {
            grid-template-rows: 11% 9% 80%;

            .date-container {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
            }

            .todo-container {
                display: flex;
                gap: 1rem;

                .addTask {
                    height: 100%;
                    width: 33%;
                }
                .allTask {
                    height: 100%;
                    width: 66%;
                }
            }
        }

        .allElems {
            height: 100%;
            display: grid;

            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, minmax(0, 1fr));
            grid-template-areas:
                "one one two two three three"
                "four four four five five five";

            .elem {
                height: 100%;

                &:nth-child(1) {
                    grid-area: one;
                }
                &:nth-child(2) {
                    grid-area: two;
                }
                &:nth-child(3) {
                    grid-area: three;
                }
                &:nth-child(4) {
                    grid-area: four;
                }
                &:nth-child(5) {
                    grid-area: five;
                }
            }
        }
    }
}

/* Large Display */
@media screen and (min-width: 1441px) and (max-width: 2559px) {
    main {
        .daily-planner-fullpage {
            grid-template-rows: 15% 86%;
            padding: 1rem;

            .day-planner {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 0.75rem;

                .day-planner-time {
                    padding: 0.75rem 0.5rem;
                    border-bottom: 1px solid var(--text-light);
                    font-size: 0.95rem;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                }
            }
        }

        .todo-fullpage {
            grid-template-rows: 11% 9% 80%;
            .date-container {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
            }
            .todo-container {
                display: flex;
                gap: 1rem;

                .addTask {
                    height: 100%;
                    width: 33%;
                }
                .allTask {
                    height: 100%;
                    width: 66%;
                }
            }
        }
        .allElems {
            height: 100%;
            display: grid;

            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, minmax(0, 1fr));
            grid-template-areas:
                "one one two two three three"
                "four four four five five five";

            .elem {
                height: 100%;

                &:nth-child(1) {
                    grid-area: one;
                }
                &:nth-child(2) {
                    grid-area: two;
                }
                &:nth-child(3) {
                    grid-area: three;
                }
                &:nth-child(4) {
                    grid-area: four;
                }
                &:nth-child(5) {
                    grid-area: five;
                }
            }
        }
    }
}

/* 4K Display */
@media screen and (min-width: 2560px) {
    main {
        .daily-planner-fullpage {
            grid-template-rows: 15% 86%;
            padding: 1rem;

            .day-planner {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0.75rem;

                .day-planner-time {
                    padding: 0.75rem 0.5rem;
                    border-bottom: 1px solid var(--text-light);
                    font-size: 0.95rem;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                }
            }
        }

        .todo-fullpage {
            grid-template-rows: 11% 9% 80%;
            .date-container {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
            }
            .todo-container {
                display: flex;
                gap: 1rem;

                .addTask {
                    height: 100%;
                    width: 33%;
                }
                .allTask {
                    height: 100%;
                    width: 66%;
                }
            }
        }

        .allElems {
            max-width: 1600px;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            display: grid;

            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, minmax(0, 1fr));
            grid-template-areas:
                "one one two two three three"
                "four four four five five five";

            .elem {
                height: 100%;

                &:nth-child(1) {
                    grid-area: one;
                }
                &:nth-child(2) {
                    grid-area: two;
                }
                &:nth-child(3) {
                    grid-area: three;
                }
                &:nth-child(4) {
                    grid-area: four;
                }
                &:nth-child(5) {
                    grid-area: five;
                }
            }
        }
    }
}
