* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    //background Color
    --bg-primary-color: hsl(0, 0%, 5%);
    --bg-fill-color: hsl(0, 78%, 77%);
    --bg-food-color: hsl(0, 82%, 52%);

    //Text Color

    --text-primary-color: hsl(0, 0%, 92%);

    //Spacing Variables

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    //Border Color

    --border-primary-color: hsl(0, 1%, 37%);

    //border radius
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}

html {
    background: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main {
    height: 100%;
    width: 100%;

    .section {
        padding: var(--space-md);
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: var(--space-md);
        .infos {
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .info {
                padding: var(--space-sm) var(--space-md);
                border: 2px solid var(--border-primary-color);
                border-radius: var(--border-radius-sm);
            }
        }
    }

    .board {
        border: 1px solid var(--border-primary-color);
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));

        .block {
            border: 1px solid var(--border-primary-color);
        }

        .fill {
            background: var(--bg-fill-color);
            border-radius: 0.4rem;
            color: var(--bg-fill-color);
        }

        .food {
            background-color: var(--bg-food-color);
        }
    }

    .modal {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        background: hsla(0, 0%, 43%, 0.324);
        backdrop-filter: blur(4px);
        display: flex;
        justify-content: center;
        align-items: center;

        .start-game,
        .game-over {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--space-lg);

            .btn {
                padding: var(--space-sm) var(--space-lg);
                border: none;
                border-radius: var(--border-radius-sm);
                cursor: pointer;
                font-weight: 900;
                transition: all 0.3s ease;

                &:active {
                    transform: scale(0.9);
                    background: hsl(0, 80%, 45%);
                }
                &:hover {
                    background: hsl(60, 80, 45);
                    color: hsl(240, 90, 20);
                }
            }
        }

        .game-over{
            display: none;
        }
    }
}
